.legos::before
{
    position: absolute;
    right: 0;
    left: 0;

    height: 7px;
    margin-top: 112px;

    content: '';

    background: 0 0 repeat-x;
}

.legos
{
    position: absolute;
    top: -119px;

    display: inline-block;
    overflow: hidden;

    width: 100%;
    height: 119px;
    margin-bottom: -12px;

    text-align: center;
    white-space: nowrap;
}

.legos__lego
{
    display: inline-block;

    width: 44px;
    height: 119px;

    background: 0 0 repeat-x;
}

.legos__lego_width_2
{
    width: 66px;
}

.legos__lego_width_3
{
    width: 88px;
}
