.blocks
{
    display: flex;
    flex-direction: row;

    width: 100%;
}

.blocks__side-menu
{
    width: 20%;

    background: #f3f1ed;
}

.blocks__side-menu .nav
{
    width: 100%;
}

@media print
{
    .blocks__list
    {
        display: none;
    }

    .blocks__data
    {
        padding: 0;
    }
}
