.blocks
{
    display: flex;
    flex-direction: row;

    width: 100%;
}

.blocks__wide-menu
{
    background: #f3f1ed;
}

.blocks__wide-menu .nav__item .nav__link
{
    color: #000;
}

@media print
{
    .blocks__list
    {
        display: none;
    }

    .blocks__data
    {
        padding: 0;
    }
}
