.block-list
{
    margin: 0;

    background: #f3f1ed;
}

.block-list__set-list
{
    margin: 0;
}

.block-list__set-name
{
    font-size: 13px;

    padding: 10px 20px;

    text-transform: uppercase;

    color: #949391;
}

.block-list__blocks
{
    font-size: 13px;

    margin: 0 0 20px;
    padding: 0;
}

.block-list__block
{
    line-height: 30px;

    padding: 0 20px;
}

.block-list__block_current
{
    background: #e6e5e2;
}

.block-list__link
{
    display: block;

    text-decoration: none;

    color: #000;
}
