.block-list
{
    margin: 0;
}

.block-list__set-list
{
    margin: 0;
}

.block-list__set-name
{
    font-size: 13px;

    padding: 10px 20px;

    text-transform: uppercase;

    color: rgba(255, 255, 255, 0.8);
}

.block-list__blocks
{
    margin: 0 0 20px;
    padding: 0;
}

.block-list__block
{
    padding: 0 20px 0 40px;
}

.block-list__block_current
{
    background: #fc0;
}

.block-list__link
{
    display: block;

    text-decoration: none;

    color: rgba(255, 255, 255, 0.8);
}
