.promo-header__header
{
    margin-left: 106px;
}

.promo-header__subtitle
{
    color: #000;
    background: #fff;
}

.promo-header__text[class] /* FIXME: very strange */
{
    max-width: 60em;
    margin-left: 94px;
}
