@media print
{
    .header
    {
        display: none;
    }
}

.header_opened + .sitemap
{
    display: flex;
}

/* Hide all siblings then sitemap is shown */
.header_opened ~ div,
.header_opened ~ footer
{
    display: none;
}

.header__layout
{
    /* search block will position absolutely search field inside header__layout block */
    position: relative;

    height: 70px;

    white-space: nowrap;
}

.header__logo
{
    float: left;

    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.header__breadcrumbs
{
    flex-grow: 1;

    margin: 18px 0 0 0;
}

.header__forum
{
    float: right;

    margin: 20px -5px 0 10px;

    transition: color 0.3s;
    text-decoration: none;
    letter-spacing: 2px;

    color: rgba(255, 255, 255, 0.65);
}

.header__forum:hover
{
    color: #fff;
}

.header__lang
{
    position: relative;
    z-index: 1;

    float: right;

    margin: 23px 96px 0 10px;
}

@media all and (max-width: 780px)
{
    .header_opened
    {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .header_opened + .sitemap
    {
        top: 52px;

        display: block;
        flex-wrap: wrap;

        transform: translate3d(0, 100%, 0);

        opacity: 0;
    }

    .header_opened.header_focused .header__menu
    {
        display: none;
    }

    .header__menu
    {
        position: absolute;
        z-index: 1;

        width: 100%;
        height: auto;
        padding: 0 0 30px;

        transition: all 0.3s ease-in-out;
        transform: translate3d(0, -120%, 0);

        opacity: 0;
        border-top: 0;
    }

    .header_opened .header__menu
    {
        top: 49px;

        transform: none;

        opacity: 1;
    }

    .header_opened .header__layout
    {
        display: none;
    }

    .header_opened.header_focused + .sitemap
    {
        transform: none;

        opacity: 1;
    }

    .header__layout
    {
        z-index: 2;

        width: 100%;
        height: 54px;

        background: inherit;
    }

    .header__forum
    {
        font-size: 19px;

        margin: 6px 150px 0 10px;

        color: #fff;
    }

    .header__logo
    {
        z-index: 1;

        border: 0;
    }
}
