@media print
{
    .header
    {
        display: none;
    }
}

.header_opened .header__logo
{
    position: static;
}

.header_opened + .sitemap
{
    display: flex;
}

/* Hide all siblings then sitemap is shown */
.header_opened ~ div,
.header_opened ~ footer
{
    display: none;
}

.header__layout
{
    /* search block will position absolutely search field inside header__layout block */
    position: relative;

    height: 70px;

    white-space: nowrap;
}

.header__logo
{
    position: fixed;

    padding: 23px 20px 22px 30px;
}

.header__breadcrumbs
{

    margin: 18px 0 0;
    flex-grow: 1;
}

.header__forum
{
    float: right;

    margin: 20px -5px 0 10px;

    transition: color 0.3s;
    text-decoration: none;
    letter-spacing: 2px;

    color: rgba(255, 255, 255, 0.65);
}

.header__forum:hover
{
    color: #fff;
}

.header__lang
{
    position: relative;
    z-index: 1;

    float: right;

    margin: 20px 70px 0 46px;
}

@media (max-width: 1200px)
{
    .header__logo
    {
        padding: 23px 20px 22px;
    }

    .header__breadcrumbs
    {
        left: 90px;
    }
}

@media (max-width: 800px)
{
    .header__layout
    {
        height: auto;
    }

    .header__logo
    {
        position: static;

        padding: 13px 15px;
    }

    .header__breadcrumbs
    {
        display: none;
    }

    .header__forum
    {
        margin-top: 10px;
    }

    .header__lang
    {
        margin-top: 10px;
    }

    .header_opened
    {
        position: static;
    }

    .header_opened + .sitemap
    {
        display: block;
    }

    .header_opened .header__layout
    {
        display: none;
    }
}
