.article-rewind_type_static
{
    position: relative;

    display: flex;

    min-height: 140px;

    /* box-sizing: border-box;
    width: calc(100% + 96px);
    min-height: 40px;
    margin: 42px 0 -8px -48px;
    padding: 40px 32px 40px 111px; 111px + 32px padding-left/right in article-wrap */

    background: #f3f1ed;
}

.article-rewind_type_static .article-rewind__prev
{
    position: relative;

    overflow: hidden;

    width: 111px;
    height: 70px;

    /* margin-left: -100px; */

    white-space: nowrap;

    align-self: center;
}

.article-rewind_type_static .article-rewind__prev-link
{
    position: absolute;
    right: 34px;
}

.article-rewind_type_static .article-rewind__prev-link::after,
.article-rewind_type_static .article-rewind__next-link::after
{
    font-size: 177px;
    line-height: 26px;

    color: #555;
}

.article-rewind_type_static .article-rewind__prev-link::after
{
    display: inline-block;

    height: 70px;
    margin-left: 32px;

    content: '‹';
}

.article-rewind_type_static .article-rewind__next
{
    position: relative;

    margin-right: 88px;

    text-align: right;

    flex-grow: 1;
    align-self: center;
}

.article-rewind_type_static .article-rewind__next-text
{
    font-size: 16px;

    position: absolute;
    right: 0;

    margin-top: -32px;

    text-decoration: none;

    color: #777;
}

.article-rewind_type_static .article-rewind__next-link
{
    font-size: 40px;
    line-height: 46px;

    text-decoration: none;

    color: #000;
}

.article-rewind_type_static .article-rewind__next-link::after
{
    position: absolute;
    top: 50%;
    right: -79px;

    height: 70px;

    content: '›';
    transform: translateY(-50%);
}

/* Mobile portrait and landscape */
@media (max-width: 800px)
{
    .article-rewind_type_static
    {
        min-height: 100px;
        padding: 0 15px;
    }

    .article-rewind_type_static .article-rewind__prev
    {
        display: none;
    }

    .article-rewind_type_static .article-rewind__next
    {
        position: static;

        margin: 0;
    }

    .article-rewind_type_static .article-rewind__next-text
    {
        right: 15px;
    }

    .article-rewind_type_static .article-rewind__next-link
    {
        font-size: 21px;
        line-height: 1.4;

        display: block;
    }

    /* Expand clickable area to all block */
    .article-rewind_type_static .article-rewind__next-link::after
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        height: auto;

        content: '';
        transform: none;
    }
}
