.article-rewind_type_floating
{
    position: fixed;
    z-index: 0;
    top: 214px;

    width: calc(100% - 111px); /* 111px padding-left in article-wrap */
}

.article-rewind_type_floating:hover
{
    z-index: 9999;
}

.article-rewind_type_floating .article-rewind__prev,
.article-rewind_type_floating .article-rewind__next
{
    position: absolute;
}

.article-rewind_type_floating .article-rewind__prev
{
    left: -114px; /* -(3px + 111px padding-left in article-wrap) */
}

.article-rewind_type_floating .article-rewind__next
{
    right: -3px;
}

.article-rewind_type_floating .article-rewind__prev-link,
.article-rewind_type_floating .article-rewind__next-link
{
    display: inline-block;

    height: 31px;

    transition: all 0.3s;
    white-space: nowrap;
    text-decoration: none;

    color: #000;
    border-radius: 3px;
    background: #f7f7f7;
}

.article-rewind_type_floating .article-rewind__prev-link
{
    margin-left: calc(-100% + 64px);
    padding: 17px 61px 17px 25px;
}

.article-rewind_type_floating .article-rewind__next-link
{
    margin-left: calc(100% - 64px);
    padding: 17px 25px 17px 61px;
}

.article-rewind_type_floating .article-rewind__prev-link:hover,
.article-rewind_type_floating .article-rewind__next-link:hover
{
    margin-left: 0;
}

.article-rewind_type_floating .article-rewind__prev-link::after,
.article-rewind_type_floating .article-rewind__next-link::before
{
    font-size: 77px;
    line-height: 37px;

    position: absolute;

    color: #555;
}

.article-rewind_type_floating .article-rewind__prev-link::after
{
    margin: -12px 0 0 18px;

    content: '‹';
}

.article-rewind_type_floating .article-rewind__next-link::before
{
    margin: -12px 0 0 -37px;

    content: '›';
}

/*tablet and phone*/
@media (max-width: 780px)
{
    .article-rewind_type_floating
    {
        display: none;
    }
}
