.promo-quotes__quote
{
    line-height: 1.4;

    display: inline-block;

    padding: 20px 4%;

    text-align: center;
}

.promo-quotes__photo
{
    width: 140px;
    height: 140px;
    margin: 10px auto;

    border-radius: 50px;
    /* TODO: Картинка через CSS, т.к. борщик не подтягивает картинки из шаблонов*/
    background: url(promo-quotes__quote_default-photo.png);
    background-size: cover;
}

.promo-quotes__text
{
    font-size: 14px;
    font-style: italic;

    display: inline-block;

    width: 180px;
    margin: auto;
}

.promo-quotes__name
{
    font-size: 16px;
    font-weight: 600;
}

.promo-quotes__position
{
    font-size: 14px;

    margin: 0;
}
