.logo
{
    display: inline-block;

    width: 30px;
    height: 25px;
    padding: 23px 20px 22px 30px;
}

.logo:hover .logo__logo
{
    fill: #fff;
}

.logo__logo
{
    transition: fill 0.3s;
}

/*tablet*/
@media all and (max-width: 780px)
{
    .logo
    {
        padding: 13px;
    }
    .logo__logo
    {
        width: 30px;
        height: 25px;
        padding: 0;

        transition: fill 0.3s;
    }
}
