.legos_color_inverted::before, .legos_color_inverted .legos__lego
{
	background-image: url(legos_color_inverted.png);
}

.legos_color_inverted::before
{
    margin-top: 0;
    background-position: 0 -112px;
}

.legos_color_inverted .legos__lego_height_2
{
	background-position: 0 -28px;
}

.legos_color_inverted .legos__lego_height_3
{
	background-position: 0 -56px;
}

.legos_color_inverted .legos__lego_height_4
{
	background-position: 0 -84px;
}

.legos_color_inverted .legos__lego_height_5
{
	background-position: 0 -112px;
}
