.article-wrap
{
    flex: 1 0;

    margin-bottom: -119px;
    padding: 62px 32px 126px 80px;

    background: url(article-wrap.png) repeat;
}

/*tablet*/
@media (max-width: 780px)
{
    .article-wrap
    {
        position: relative;

        overflow: hidden;

        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 0 5%;

        background: none;
    }
}

/* Mobile portrait and landscape */
@media (min-device-width: 320px) and (max-device-width: 568px)
{
    .article-wrap
    {
        margin: 0;
        padding: 0;

        background: none;
    }
}

/* Print version */
@media print
{
    .article-wrap
    {
        margin: 0;
        padding: 0;

        background: none;
    }
}
