.article-wrap
{
    position: relative;

    overflow: hidden;

    margin: 0 170px 0 270px;
    padding: 46px 48px 7px;

    border-radius: 10px;
    background: #fff;

    /* background: #fff url(article-wrap.png) repeat; */

    /* background: #fff url(article-wrap_dark.gif) repeat; */
}

.article-wrap__side
{
    position: fixed;
    top: 70px;
    right: 10px;

    width: 140px;
}

.article-wrap__tags
{
    margin: 63px 0 0;
}

.article-wrap__rating
{
    min-height: 86px;
    margin: 33px 0 0;
}

.article-wrap__social
{
    margin: 42px 0 0;
}

.article-wrap__amendments
{
    margin: 36px 0 0 -10px;
}

@media (max-width: 1200px)
{
    .article-wrap
    {
        display: flex;
        flex-direction: column;

        margin: 0 0 0 233px;

        border-radius: 10px 0 0 10px;
    }

    .article-wrap__side
    {
        position: static;

        display: flex;
        align-items: center;
        justify-content: space-between;
        order: -1;

        width: calc(100% + 37px);
        margin: -46px 0 4px -48px;
        padding: 20px 10px 10px 49px;

        background: #fff;
    }

    .article-wrap__side-group
    {
        display: flex;
    }

    .article-wrap__tags,
    .article-wrap__rating,
    .article-wrap__social,
    .article-wrap__amendments
    {
        margin: 0 16px 8px 0;

        color: #000 !important;
    }

    .article-wrap__tags .article-tags__tag
    {
        margin-bottom: 8px;
    }

    .article-wrap__tags .article-tags__link
    {
        color: #000;
        border-color: #000;
    }

    .article-wrap__rating
    {
        min-height: auto;
        margin-right: 32px;

        white-space: nowrap;
    }

    .article-wrap__rating .doc-rating__total
    {
        display: inline-block;
    }

    .article-wrap__rating .doc-rating__total::after
    {
        content: ',\00a0'; /* &nbsp; */
    }

    .article-wrap__rating .doc-rating__stars
    {
        display: inline-block;

        margin: 0 10px 0 0;

        vertical-align: top;
    }

    .article-wrap__rating .doc-rating__value
    {
        display: inline-block;
    }

    .article-wrap__social
    {
        margin: 0 26px 0 0;

        white-space: nowrap;
    }

    .article-wrap__social .social-likes__service
    {
        margin-right: 3px;
    }

    .article-wrap__amendments
    {
        width: 50%;
        margin: 0;

        background: #eee;
    }

    .article-wrap__amendments .article-amendments__link
    {
        color: inherit;
    }
}

@media (max-width: 1024px)
{
    .article-wrap__side
    {
        flex-wrap: wrap;
    }

    .article-wrap__side-group
    {
        width: 100%;
    }

    .article-wrap__amendments
    {
        width: 100%;
        margin: 8px 0 0 -10px;
    }
}

@media (max-width: 800px)
{
    .article-wrap
    {
        margin-left: 0;
        padding-right: 15px;
        padding-left: 15px;

        border-radius: 0;
    }

    .article-wrap__side-group
    {
        flex-wrap: wrap;
    }

    .article-wrap__tags,
    .article-wrap__rating
    {
        flex-grow: 0;
    }

    .article-wrap__amendments
    {
        width: calc(100% - 33px);
        margin-left: -15px;
        padding-left: 15px;
    }
}

/* Print version */
@media print
{
    .article-wrap
    {
        margin: 0;
        padding: 0;

        background: none;
    }
}
