.promo-crossroad
{
    display: flex;

    margin: 0 0 100px;
    padding: 0 10%;
    justify-content: space-around;
}

.promo-crossroad__item
{
    font-size: 18px;
    line-height: 1.5;

    margin-bottom: 0;

    text-align: center;

    color: #000;
}

.promo-crossroad__title-link
{
    font-size: 24px;
    font-weight: 300;

    text-decoration: none;

    color: #000;
}

.promo-crossroad__img
{
    display: block;

    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.promo-crossroad__img_type_round
{
    border-radius: 100px;
}

.promo-crossroad__img_type_out-of-box
{
    width: 215px;
}

.promo-crossroad__text
{
    margin: 5px 0;
}

.promo-crossroad__text-link
{
    text-decoration: none;
}

/*
.promo-crossroad__text-link
{
    color: #048;
}
*/

/*tablet md*/
@media (max-width: 1200px)
{
    .promo-crossroad
    {
        padding: 0 5%;
    }
}

@media (max-width: 800px)
{
    .promo-crossroad
    {

        padding: 0 1%;
        flex-wrap: wrap;
    }
}

/*mobile*/
@media (max-width: 480px)
{
    .promo-crossroad
    {
        display: block;
    }

    .promo-crossroad__item
    {
        margin-top: 50px;
    }

    .promo-crossroad__title-link
    {
        display: inline-block;
    }
}
