.logo
{
    width: 30px;
    height: 25px;
    padding: 23px 20px 22px 30px;
}

.logo_site_index
{
    fill: #fff;
}

.logo_site_methodology
{
    fill: #17a1e6;
}

.logo_site_platform
{
    fill: #ff4c4c;
}

.logo_site_community
{
    fill: #96cc29;
}
