.logo
{
    display: inline-block;

    width: 80px;
    height: 70px;

    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.logo__logo
{
    width: 30px;
    height: 25px;
    margin: 23px 0 0 30px;
}

.logo_site_index
{
    fill: #fff;
}

.logo_site_methodology
{
    fill: rgb(0, 160, 234);
}

.logo_site_platform
{
    fill: rgb(255, 0, 58);
}
