.logo
{
    width: 30px;
    height: 25px;
    padding: 23px 20px 22px 30px;
}

.logo_site_index
{
    fill: #fff;
}

.logo_site_methodology
{
    fill: rgb(0, 160, 234);
}

.logo_site_platform
{
    fill: rgb(255, 0, 58);
}
