.promo-quotes
{
    line-height: 1.2;

    display: flex;

    padding: 30px 0 100px;

    text-align: center;

    color: #fff;
    flex-wrap: wrap;
    justify-content: center;
}

.promo-quotes__quote
{
    line-height: 1.4;

    display: inline-flex;
    flex-direction: column;

    margin: 20px 4% 52px;

    text-align: center;
}

.promo-quotes__photo
{
    width: 140px;
    height: 140px;
    margin: 10px auto 15px;

    border-radius: 70px;
}

.promo-quotes__name
{
    font-size: 16px;
    font-weight: 600;

    order: -1;
}

.promo-quotes__position
{
    font-size: 14px;

    margin: 0;

    order: -1;
}

.promo-quotes__link
{
    font-style: normal;

    text-decoration: none;

    color: #fff;
}

.promo-quotes__text
{
    font-size: 14px;
    font-style: italic;

    display: block;

    width: 180px;
    margin: auto;
    order: -1;
}

/*mobile*/
@media all and (max-width: 480px)
{
    .promo-quotes
    {
        padding: 0 0 100px;
    }

    .promo-quotes__text
    {
        width: auto;
    }
}
