.index-logo
{
    display: block;

    width: 300px;
    height: 300px;
    margin: 95px auto 50px;
}

/*mobile*/
@media all and (max-width: 480px)
{
    .index-logo
    {
        width: 250px;
        height: 250px;
        margin: 50px auto;
    }
}
