.article-translation-missed
{
    /* width: 100%;
        margin: -46px 0 14px -48px; */
    padding: 0 48px;

    background: rgba(255, 0, 0, 0.1);
}

@media (max-width: 1200px)
{
    .article-translation-missed
    {
        margin-top: 0;
    }
}

@media (min-width: 320px) and (max-width: 568px)
{
    .article-translation-missed
    {
        position: static;

        margin: 16px 0;
    }
}

/* Portrait */
@media (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait)
{
    .article-translation-missed
    {
        font-size: 12px;
        line-height: 27px;
    }
}

/* Landscape */
@media (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape)
{
    .article-translation-missed
    {
        font-size: 8px;
    }
}

@media print
{
    .article-translation-missed
    {
        display: none;
    }
}
