.promo-menu
{
    display: flex;

    padding: 0 60px 50px 80px;
}

.promo-menu__side
{
    margin-left: 50px;
}

.promo-menu__menu
{
    padding: 0;
}

.promo-menu__menu_type_columns
{
    column-width: 200px;
    column-count: 3;
    column-gap: 30px;
}

.promo-menu__menu-title
{
    font-size: 16px;

    display: none;

    text-transform: uppercase;

    color: rgba(0, 0, 0, 0.2);
}

.promo-menu__main .promo-menu__menu-title
{
    margin-left: 20px;
}

.promo-menu__item
{
    font-size: 20px;
    line-height: 1.2;

    min-width: 200px;
    margin: 0 0 20px;

    list-style: none;
}

.promo-menu__main .promo-menu__item
{
    margin: 0 0 20px 20px;

    list-style: decimal;

    color: rgba(0, 0, 0, 0.2);
}

.promo-menu__link
{
    /* display: table; */

    text-decoration: none;

    outline: none;
}

.promo-menu__title
{
    display: table-row;

    color: #04b;
}

.promo-menu__subtitle::before
{
    font-size: 4px;

    display: table-row;
    visibility: hidden;

    content: '\00a0'; /* &nbsp; */
}

.promo-menu__subtitle
{
    font-size: 14px;
    line-height: 1.5;

    display: table-row;

    color: rgba(0, 0, 0, 0.6);
}

.promo-menu_inverted .promo-menu__main .promo-menu__item,
.promo-menu_inverted .promo-menu__menu-title,
.promo-menu_inverted .promo-menu__title,
.promo-menu_inverted .promo-menu__subtitle
{
    color: #fff;
}

.promo-menu_inverted .promo-menu__number,
.promo-menu_inverted .promo-menu__menu-title
{
    display: none;
}

.promo-menu_inverted .promo-menu__menu_type_columns
{
    column-width: 200px;
    column-count: 2;
    column-gap: 30px;
}

.promo-menu_inverted.promo-menu
{
    width: 100%;
    max-width: 850px;
    margin: auto;
}

.promo-menu_inverted .promo-menu__main
{
    padding-bottom: 0;
}

@media (max-width: 800px)
{
    .promo-menu
    {
        display: block;

        padding: 0 20px 60px;
    }

    .promo-menu__side
    {
        margin: 20px 0 0 20px;
    }
    .promo-menu_inverted.promo-menu
    {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}
