.breadcrumbs
{
    display: inline-block;

    margin: 22px 0 0 29px;
    padding: 0;

    font-size: 17px;
    vertical-align: top;
}

.breadcrumbs__item
{
    display: inline-block;

    margin: 0 10px 0 0;
    padding: 0;

    letter-spacing: 1px;

    color: #fff;
}

.breadcrumbs__item::after
{
    margin-left: 11px;

    content: "/";

    color: rgba(255, 255, 255, 0.55);
 }

.breadcrumbs__item:last-child::after
{
    display: none;
}

.breadcrumbs__link
{
    color: rgba(255, 255, 255, 0.55);
    text-decoration: none;
}

.breadcrumbs__link:hover
{
    color: #fff;
}
