.breadcrumbs
{
    display: inline-block;

    margin: 18px 0 0 29px;
    padding: 0;

    font-size: 17px;
    vertical-align: top;

    background: inherit;
}

.breadcrumbs__item
{
    display: inline-block;

    margin: 0 10px 0 0;
    padding: 0;

    letter-spacing: 1px;

    color: #fff;
}

.breadcrumbs__item::after
{
    margin-left: 11px;

    content: "/";

    color: rgba(255, 255, 255, 0.55);
 }

.breadcrumbs__item:last-child::after
{
    display: none;
}

.breadcrumbs__link
{
    color: rgba(255, 255, 255, 0.55);
    text-decoration: none;
}

.breadcrumbs__link:hover
{
    color: #fff;
}

.breadcrumbs__version
{
    margin-left: -27px;

    background: inherit;
}

.breadcrumbs__version .select
{
    vertical-align: inherit;
}

.breadcrumbs__version .select__button.button_theme_islands.button_size_m
{
    font: inherit;
    font-size: 17px;
}

.breadcrumbs__version .select__button
{
    font: inherit;

    color: inherit;
    background: inherit;
}

.breadcrumbs__version .select__button::before
{
    border: none;
    background: inherit;
}

.breadcrumbs__version .select__button.button_theme_islands.button_size_m .button__text
{
    width: 0;
    margin: 0;

    visibility: hidden;
}
/*
.breadcrumbs__version .select_theme_islands .select__tick
{
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background: none;

    transform: rotate(-45deg);
}
*/

.breadcrumbs__version .select__button
{
    position: relative;
    left: 3px;
    top: 2px;

    padding: 0;

    color: #fff;
    background: inherit;
}

.breadcrumbs__version .select__button::before
{
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.2);
}

.breadcrumbs__version .select__button.button_hovered::before
{
    background: rgba(255, 255, 255, 0.1);
}

.breadcrumbs__version .select__button.button_pressed::before
{
    background: rgba(255, 255, 255, 0.05);
}
