.article-rewind
{
    position: fixed;
    z-index: 0;
    top: 238px;

    width: calc(100% - 111px); /* 111px padding-left in article-wrap */
    margin: 0;
    padding: 0;

    list-style: none;
}

.article-rewind__prev,
.article-rewind__next
{
    position: absolute;
}

.article-rewind:hover
{
    z-index: 9999;
}

.article-rewind__prev
{
    left: -114px; /* -(3px + 111px padding-left in article-wrap) */
}

.article-rewind__next
{
    right: -3px;
}

.article-rewind__prev-link,
.article-rewind__next-link
{
    display: inline-block;

    height: 31px;

    transition: all 0.3s;
    white-space: nowrap;
    text-decoration: none;

    color: #000;
    border: 1px solid rgba(174, 174, 174, 0.4);
    border-radius: 3px;
    background: #fff;
}

.article-rewind__prev-link
{
    margin-left: calc(-100% + 35px);
    padding: 0 31px 0 12px;
}

.article-rewind__next-link
{
    margin-left: calc(100% - 35px);
    padding: 0 12px 0 31px;
}

.article-rewind__prev-link:hover,
.article-rewind__next-link:hover
{
    margin-left: 0;

    border-color: rgb(174, 174, 174, 0.4);
}

.article-rewind__prev-link::after,
.article-rewind__next-link::before
{
    font-size: 25px;

    position: absolute;

    color: #555;
}

.article-rewind__prev-link::after
{
    margin: -12px 0 0 11px;

    content: '‹';
}

.article-rewind__next-link::before
{
    margin: -12px 0 0 -18px;

    content: '›';
}

/*tablet*/
@media all and (max-width: 780px)
{
    .article-rewind
    {
        position: static;

        width: 100%;
        margin: 30px 0;
    }

    .article-rewind__next
    {
        position: static;
    }

    .article-rewind__next-link
    {
        margin: 0;
    }

    .article-rewind__prev
    {
        display: none;
    }
}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (orientation: portrait)
{
    .article-rewind__next-link
    {
        font-size: 16px;

        margin: 0 14px;
        padding: 0 12px 5px 31px;
    }

    .article-rewind__next-link::before
    {
        margin: -9px 0 0 -18px;
    }
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (orientation: landscape)
{
    .article-rewind__next-link
    {
        font-size: 14px;

        height: 28px;
        margin: 0 14px;
    }

    .article-rewind__next-link::before
    {
        margin: -13px 0 0 -18px;
    }
}
