.promo-features
{
    display: flex;

    max-width: 1000px;
    margin: -10px auto 120px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.promo-features__separator
{
    width: 40px;
    height: 40px;
    margin-top: 230px;

    transform: rotate(-45deg);

    border: 2px solid rgba(0, 0, 0, 0.2);
    border-width: 0 2px 2px 0;
}

.promo-features__image
{
    display: block;

    width: 400px;
    height: 400px;
}

.promo-features__image_single
{
    width: 460px;
    height: 336px;
    margin: 90px auto 0;
}

/* !*tablet lg*!
 * @media all and (min-width: 1200px)
 * {
 * }*/

/*tablet md*/
@media all and (max-width: 1200px)
{
    .promo-features__image
    {
        width: 318px;
    }
}

/*tablet*/
@media all and (max-width: 780px)
{
    .promo-features__image_single
    {
        margin-top: 80px;
    }

    @media all and (max-width: 680px)
    {
        .promo-features__image
        {
            width: 220px;
        }

        .promo-features__separator
        {
            margin-top: 215px;
            margin-left: -10px;
        }
    }
}

/*mobile*/
@media all and (max-width: 480px)
{
    .promo-features
    {

        margin: -10px auto 80px;
        align-items: stretch;
    }

    .promo-features__image
    {
        width: 150px;
        height: 150px;
    }

    .promo-features__image_single
    {
        margin-top: 20px;
    }

    .promo-features__separator
    {
        width: 15px;
        height: 15px;
        margin-top: 90px;
    }
}
