.promo-features
{
    display: flex;
    margin: -10px auto 120px;
    max-width: 1000px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.promo-features__separator
{
    width: 40px;
    height: 40px;
    margin-top: 230px;

    border: 2px solid rgba(0, 0, 0, 0.2);
    border-width: 0 2px 2px 0;
    transform: rotate(-45deg);
}

.promo-features__image
{
    display: inline-block;
    width: 400px;
    height: 400px;
}

.promo-features__text
{
    font-size: 15px;
    font-weight: 600;
    line-height: 1.7;

    margin: 50px auto 0;
    max-width: 600px;
}
