.promo-features
{
    display: flex;
    margin: -10px auto 120px;
    max-width: 800px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.promo-features__separator
{
    width: 40px;
    height: 40px;
    margin-top: 180px;

    border: 2px solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(-45deg);
    color: #fff;
    opacity: 0.2;
}

.promo-features__image
{
    display: inline-block;
    width: 300px;
}

.promo-features__text
{
    padding: 50px 100px 0;

    font-size: 14px;
    line-height: 1.7;
}
