.header
{
    /* search block will position absolutely search field inside header block */
    position: relative;

    display: flex;
    height: 70px;

    white-space: nowrap;
}

.header_site_index
{
    background: #000;
}

.header_site_methodology
{
    background: rgb(0, 36, 52);
}

.header_site_platform
{
    background: rgb(56, 0, 1);
}

.header_site_community
{
    background: #fa9;
}

.header_site_forum
{
    background: #aaa;
}

.header__logo
{
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.header__breadcrumbs
{
    flex-grow: 1;
    margin: 18px 0 0 29px;
}

.header__lang
{
    margin: 22px 16px 0 5px;
}
