.header
{
    position: relative;

    height: 70px;

    white-space: nowrap;
}

.header_site_index
{
    background: #000;
}

.header_site_methodology
{
    background: rgb(0, 36, 52);;
}

.header_site_platform
{
    background: rgb(56, 0, 1);
}

.header_site_community
{
    background: #fa9;
}

.header_site_forum
{
    background: #aaa;
}

.header__item
{
    position: absolute;
    top: 0;
    right: 0;

    height: 70px;
    padding-left: 5px;

    background: inherit;
}
