.page
{
    font: 16px/2 'Open Sans', Arial, sans-serif;

    display: flex;
    flex-direction: column;

    min-height: 100vh;
    margin: 0;
}

/*mobile*/
@media all and (max-width: 480px)
{
}

/*tablet*/
@media all and (max-width: 780px)
{
}

/*tablet md*/
@media all and (max-width: 1200px)
{
}

/*tablet lg*/
@media all and (min-width: 1200px)
{
}
