.page
{
    font: 16px/2 'Open Sans', Arial, sans-serif;

    display: flex;
    flex-direction: column;

    min-height: 100vh;
    margin: 0;

    text-size-adjust: 100%;
}

@media print
{
    .page
    {
        font-size: 14px;
        line-height: 1.5;
    }
}
