.page
{
    font: 16px/2 Arial, sans-serif;

    display: flex;
    flex-direction: column;

    margin: 0;

    text-size-adjust: 100%;
}

.page__sitemap
{
    display: none;
}

.page__menu
{
    position: fixed;
    top: 88px;

    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    width: 260px;
    height: calc(100vh - 80px);

    mask-image: linear-gradient(to bottom, #000 90%, rgba(0, 0, 0, 0));
}

@supports (position: sticky) and (display: grid)
{
    @media (min-width: 1201px)
    {
        .page__menu
        {
            position: sticky;
            top: 0;

            height: 100vh;
            margin-top: 13px;
        }
    }
}

.page:not(.page_promo) .page__main
{
    display: flex;
    overflow: hidden;
    flex-direction: column;

    margin-left: 260px;

    border-bottom-left-radius: 10px;
    background: #fff;
    justify-content: space-between;
}

.page__head
{
    order: -2;
}

.page__content
{
    padding: 15px 20px 0 48px;

    background: #fff;

    /* background: #fff url(page__content.png) repeat; */

    /* background: #fff url(page__content_dark.gif) repeat; */
}

.page__side
{
    margin-left: 260px;
    padding: 20px 20px 10px 48px;

    border-top-left-radius: 10px;
    background: #fff;
    order: -1;
}

@media (max-width: 1200px)
{
    .page__menu
    {
        font-size: 14px;
        line-height: 32px;

        width: 233px;
    }

    .page:not(.page_promo) .page__main,
    .page__side
    {
        margin-left: 233px;
    }
}

@media (max-width: 800px)
{
    .page:not(.page_promo) .page__main,
    .page__side
    {
        margin: 0;

        border-radius: 0;
    }

    .page__sitemap
    {
        height: auto;
        margin-top: 70px;
    }

    .page__menu
    {
        display: none;
    }

    .page__content
    {
        padding: 15px 15px 0;
    }

    .page__side
    {
        order: 0;

        padding: 25px 15px 0;
    }

    .page__foot
    {
        order: 1;
    }
}

@media print
{
    .page
    {
        font-size: 14px;
        line-height: 1.5;
    }
}

@supports (display: grid)
{
    @media (min-width: 1201px)
    {
        .page:not(.page_promo)
        {
            display: grid;

            min-height: 100vh;
            grid-template-rows: 70px 1fr auto;
            grid-template-columns: 260px minmax(0, 900px) minmax(160px, 1fr);
        }

        .page__head
        {
            grid-column: 1 / 4;
        }

        .page__sitemap
        {
            grid-column: 1 / 4;
        }

        .page:not(.page_promo) .page__main
        {
            margin: 0;

            border-radius: 10px;
            grid-column: 2 / 3;
        }

        .page__content
        {
            flex-grow: 1;

            padding-top: 31px;
        }

        .page__side
        {
            margin: 0;
            padding: 13px 10px 10px 20px;

            background: none;
            order: initial;
        }

        @supports (position: sticky)
        {
            .page__side
            {
                position: sticky;
                top: 0;

                height: calc(100vh - 30px);
            }
        }

        .page__foot
        {
            grid-column: 2 / 3;
        }
    }
}
