.page
{
	font: 16px/2 'Open Sans', Arial, sans-serif;

    min-width: 750px;
    margin: 0;
}

.page_site_methodology
{
	background: rgba(23, 161, 230, 0.9) url(_site/page_site_methodology.png) 0 -2px;
}
