@media print
{
    .social-likes
    {
        display: none;
    }
}

.social-likes__service
{
    display: inline-block;

    width: 26px;
    height: 26px;
    margin: 0 10px 4px 0;
    padding: 3px;

    transition: all 0.3s;
    vertical-align: middle;
    text-indent: -9999px;

    border-radius: 3px;
}

.social-likes__service:hover,
.social-likes__service:active,
.social-likes__service:focus
{
    opacity: 0.8;
}

.social-likes__service_type_facebook
{
    background: #425497 0 0 / cover no-repeat url(social-likes_service_facebook.svg);
}

.social-likes__service_type_twitter
{
    background: #00b7ec 0 0 / cover no-repeat url(social-likes_service_twitter.svg);
}

.social-likes__service_type_vk
{
    background: #526e8f no-repeat 2px 3px / 26px 26px url(social-likes_service_vk.svg);
}
