.nav
{
    font-size: 14px;

    position: relative;
    z-index: 1;

    display: block;

    margin: 0;
    padding: 0;

    list-style: none;

    background: #f3f1ed;
}

.nav__item
{
    line-height: 30px;

    padding: 5px 20px;
}

.nav__item:last-child
{
    margin-right: 0;
}

.nav__item_current
{
    font-weight: 600;

    color: #000;

    background-color: #e6e5e2;
}

.nav__link
{
    display: block;

    transition: color 0.3s;
    text-decoration: none;

    color: rgb(153, 153, 153);
}

.nav__link:hover
{
    color: #000;
}

/*tablet*/
@media (max-width: 780px)
{
    .nav
    {
        display: none;

        margin: 0;
        padding: 0 30px;

        background: inherit;
    }

    .nav__item
    {
        display: block;

        padding: 1px 3px;

        white-space: nowrap;
    }

    .nav__item_current
    {
        font-size: 15px;

        margin: 0 8px 0 0;

        color: #fff;
        border-bottom: 1px solid #fff;
    }

    .nav__link
    {
        font-size: 16px;
    }

    .nav__link:hover
    {
        color: #fff;
    }
}
