.nav
{
    position: fixed;
    top: 79px;

    display: block;
    overflow: auto;

    width: 270px;
    height: calc(100vh - 89px); /* 79 + 10 */

    margin: 0;
    padding: 0 0 10px;

    list-style: none;
}

.nav__item
{
    line-height: 1.3;

    margin: 0;
    padding: 0;
}

.nav__item_current .nav__title,
.nav__link
{
    padding: 8px 5px 8px 29px;
}

.nav__item_current .nav__title
{
    color: #000;

    background: #fc0;
}

.nav__item:last-child
{
    margin-bottom: 20px;
}

.nav__item_current .nav__title::before
{
    transform: none;

    background-image: url(nav__title_current.svg);
}

.nav__title
{
    position: relative;
}

.nav__title::before
{
    position: absolute;
    top: 10px;
    left: 11px;

    width: 13px;
    height: 13px;

    content: "";

    transform: rotate(-90deg);

    background-image: url(nav__title.svg);
    background-size: cover;
}

.nav__chapter
{
    font-size: 14px;
    line-height: 1.2;

    display: block;
}

.nav__content
{
    display: none;
}

.nav__content_visible
{
    display: block;
}

.nav__link
{
    display: block;

    padding: 8px 10px 8px 30px;

    transition: color 0.3s;
    text-decoration: none;

    color: rgba(255, 255, 255, 0.8);
}

.nav__link:hover
{
    color: #fff;
}

.nav__link:target
{
    background: red !important;
}

@media (max-width: 1200px)
{
    .nav
    {
        width: 233px;
    }

    .nav__title::before
    {
        position: absolute;
        top: 12px;
        left: 5px;

        width: 9px;
        height: 9px;
    }

    .nav__item_current .nav__title,
    .nav__link
    {
        padding-left: 18px;
    }
}

@media (max-width: 800px)
{
    .nav
    {
        display: none;
    }
}
