.nav,
.nav__item
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.nav__item_current
{
    display: inline-block;

    margin-right: 8px;
    margin-left: 8px;
    padding: 0 12px;

    color: #000;
    border-radius: 4px;
    background: #fc0;
}

.nav__item:last-child
{
    margin-bottom: 20px;
}

.nav__link
{
    padding: 4px 20px;

    transition: color 0.3s;
    text-decoration: none;

    color: rgba(255, 255, 255, 0.8);
}

.nav__link:hover
{
    color: #fff;
}
