.nav
{
    font-size: 14px;

    position: relative;
    z-index: 1;

    display: block;

    margin: 0;
    padding: 0 0 0 108px;

    list-style: none;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
}

.nav__item
{
    line-height: 30px;

    display: inline-block;

    margin: 0 31px 0 0;
    padding: 6px 3px 4px;

    white-space: nowrap;
}

.nav__item:last-child
{
    margin-right: 0;
}

.nav__item_current
{
    margin-bottom: -1px;

    color: #000;
    border-bottom: 1px solid #000;
}

.nav__link
{
    display: block;

    transition: color 0.3s;
    text-decoration: none;

    color: rgb(153, 153, 153);
}

.nav__link:hover
{
    color: #000;
}

/*mobile*/
@media all and (max-width: 480px)
{
}

/*tablet*/
@media all and (max-width: 780px)
{
    .nav
    {
        position: absolute;
        z-index: 2;

        display: none;

        box-sizing: border-box;
        width: 100%;
        padding: 0 0 0 10px;
    }
    .nav__item
    {
        font-size: 16px;

        width: 100%;
    }
    .nav_toggled
    {
        display: block;

        margin-top: -1px;
    }
}

/*tablet md*/
@media all and (max-width: 1200px)
{
}

/*tablet lg*/
@media all and (min-width: 1200px)
{
}
