.nav,
.nav__item
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.nav__item_current .nav__title
{
    padding: 4px 5px 4px 30px;

    color: #000;

    background: #fc0;
}

.nav__item:last-child
{
    margin-bottom: 20px;
}

.nav__item_current .nav__title::before
{
    background-image: url("icon-black.svg");
}

.nav__title
{
    position: relative;
}

.nav__title::before
{
    position: absolute;
    top: 17px;
    left: 5px;

    width: 13px;
    height: 13px;

    margin-top: -8px;

    content: "";

    transition: .2s ease-in-out;

    background-image: url("icon.svg");
    background-size: cover;
}

.nav__item_current .nav__title::before {
    top: 21px;
}

.nav__chapter
{
    font-size: 12px;

    display: block;
}

.nav__content
{
    display: none;
}

.nav__content_visible
{
    display: block;
}

.nav__link
{
    display: block;

    padding: 4px 5px 4px 30px;

    transition: color 0.3s;
    text-decoration: none;

    color: rgba(255, 255, 255, 0.8);
}

.nav__link:hover
{
    color: #fff;
}
