.nav
{
    font-size: 14px;

    position: relative;
    z-index: 1;

    display: block;

    margin: 0;
    padding: 0 0 0 108px;

    list-style: none;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
}

.nav_type_lib
{
    min-height: 40px;
    margin-left: 220px;
    padding-left: 47px;
}

.nav__item
{
    line-height: 30px;

    display: inline-block;

    margin: 0 31px 0 0;
    padding: 6px 3px 4px;

    white-space: nowrap;
}

.nav__item:last-child
{
    margin-right: 0;
}

.nav__item_current
{
    margin-bottom: -1px;

    color: #000;
    border-bottom: 1px solid #000;
}

.nav__link
{
    display: block;

    transition: color 0.3s;
    text-decoration: none;

    color: rgb(153, 153, 153);
}

.nav__link:hover
{
    color: #000;
}

/*tablet*/
@media all and (max-width: 780px)
{
    .nav
    {
        display: block;

        margin: 0;
        padding: 0 30px;

        background: inherit;
    }

    .nav__item
    {
        display: block;

        padding: 1px 3px;

        white-space: nowrap;
    }

    .nav__item_current
    {
        font-size: 15px;

        margin: 0 8px 0 0;

        color: #fff;
        border-bottom: 1px solid #fff;
    }

    .nav__link
    {
        font-size: 16px;
    }

    .nav__link:hover
    {
        color: #fff;
    }
}
