.promo-footer
{
    position: relative;
    z-index: 0;

    height: 478px;
    margin-top: 50px;

    text-align: center;
}

.promo-footer .promo-action
{
    margin-top: 100px;
}

.promo-footer .promo-title
{
    padding: 0;
}

/*mobile*/
@media all and (max-width: 480px)
{
    .promo-footer
    {
        height: 350px;
    }

    .promo-footer .promo-action
    {
        margin: 100px 0 0 5px;
    }
}
