.promo-footer
{
	position: relative;
	z-index: 0;

	height: 478px;

	text-align: center;
    margin-top: 50px;
}

.promo-footer .promo-action
{
    margin-top: 100px;
}

.promo-footer .promo-title
{
    padding: 0;
}
