.footer__layout
{
    font-size: 90%;

    display: flex;
    justify-content: center;

    padding: 40px;

    color: #fff;
}

.footer__community
{
    font-weight: 600;

    margin: 0;
    padding: 0;
}

.footer__channel
{
    display: inline-block;

    margin-right: 31px;
}

.footer__channel:last-child
{
    margin: 0;
}

.footer__channel-link
{
    transition: all 0.3s;
    text-decoration: none;

    color: #fff;
}

.footer__channel-link:hover
{
    opacity: 0.8;
}

/*tablet*/
@media all and (max-width: 780px)
{
    .footer__layout
    {
        padding: 40px 10%;
    }

    .footer__community
    {
        font-size: 15px;
    }
}
