@media print
{
    .footer
    {
        display: none;
    }
}

.footer
{
    font-size: 14px;
}

.footer__layout
{
    display: flex;
    justify-content: center;

    margin: 100px 80px 100px 220px;

    color: #fff;
}

.footer__community
{
    font-weight: 600;

    margin: 0;
    padding: 0;
}

.footer__channel
{
    display: inline-block;

    margin-right: 31px;
}

.footer__channel:last-child
{
    margin: 0;
}

.footer__channel-link
{
    transition: all 0.3s;
    text-decoration: none;

    color: #fff;
}

.footer__channel-link:hover
{
    opacity: 0.8;
}

/*tablet*/
@media (max-width: 800px)
{
    .footer__layout
    {
        margin: 20px 15px;
    }

    .footer__channel
    {
        font-size: 14px;

        margin-right: 15px;
    }
}
