.footer__layout
{
    font-size: 90%;

    display: flex;
    justify-content: center;
    padding: 40px;

    color: #fff;
}

.footer__community
{
    font-weight: bold;

    margin: 0;
    padding: 0;
}

.footer__channel
{
    display: inline-block;
    margin-right: 31px;
}

.footer__channel-link
{
    text-decoration: none;

    color: #fff;
    transition: all 0.3s;
}

.footer__channel-link:hover
{
    opacity: 0.8;
}
