.nav
{
    display: block;

    margin: 0;
    padding: 5px 0 5px 112px;

    list-style: none;

    font-size: 14px;

    border-bottom: 1px solid rgb(229, 229, 229);
} 

.nav__item
{
    display: inline-block;

    margin: 0 31px 0 0;
    padding: 0 3px;

    line-height: 30px;
    white-space: nowrap;
}}

.nav__item:last-child
{
    margin-right: 0;
}

.nav__item_current
{
    color: #000;
}

.nav__link
{
    display: block;

    color: rgb(153, 153, 153);

    text-decoration: none;
}

.nav__link:hover
{
    color: #000;
}

.nav_site_index 
{
    position: relative;

    margin: -54px 145px 54px 70px;

    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;

    border: none;
}

.nav_site_index .nav__item
{
    display: inline-block;

    margin: 0 18px;

    letter-spacing: 0.15em;
    vertical-align: bottom;

    color: #555;
}
