.nav
{
    display: block;

    margin: 0;
    padding: 0 0 0 108px;

    list-style: none;

    font-size: 14px;

    border-bottom: 1px solid rgb(229, 229, 229);
} 

.nav__item
{
    display: inline-block;

    margin: 0 31px 0 0;
    padding: 5px 3px;

    line-height: 30px;
    white-space: nowrap;
}

.nav__item:last-child
{
    margin-right: 0;
}

.nav__item_current
{
    margin-bottom: -1px;

    color: #000;
    border-bottom: 1px solid #000;
}

.nav__link
{
    display: block;

    color: rgb(153, 153, 153);

    text-decoration: none;
}

.nav__link:hover
{
    color: #000;
}

.nav_site_index 
{
    position: relative;
    z-index: 0;

    margin: -55px 200px 54px 0;

    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;

    border: none;
}

.nav_site_index .nav__item
{
    position: relative;

    display: inline-block;

    margin: 0 18px;

    letter-spacing: 0.15em;
    vertical-align: bottom;

    color: #555;
}

.nav_site_index .nav__item::before
{
    position: absolute;
    z-index: -1;
    top: -15px;
    left: -19px;
    right: -19px;

    height: 70px;
    transform: skewX(-30deg);

    content: "";
}

.nav_site_index .nav__item:nth-child(1)::before
{
    background: rgb(0, 36, 52);
}

.nav_site_index .nav__item:nth-child(2)::before
{
    background: rgb(56, 0, 0);
}

.nav_site_index .nav__item:nth-child(3)::before
{
    background: rgb(0, 56, 0);
}

.nav_site_index .nav__link:hover
{
    color: #fff;    
}
