.promo-action::before
{
    position: absolute;
    z-index: -1;
    top: 8px;
    left: 8px;

    width: 100%;
    height: 100%;

    content: '';

    background: rgba(77, 61, 0, 0.7);
}

.promo-action
{
    font-size: 30px;

    position: relative;

    display: inline-block;

    padding: 2px 35px 1px 25px;

    transition: all 0.3s;
    text-decoration: none;
    letter-spacing: 6px;
    text-transform: uppercase;

    color: #000;
    background: #fc0;
}

.promo-action:hover
{
    background: rgb(255, 224, 0);
}

.promo-action::after
{
    position: relative;
    top: -3px;

    display: inline-block;

    width: 15px;
    height: 15px;
    margin-left: 12px;

    content: '';
    transform: rotate(-45deg);

    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.promo-action:active
{
    position: relative;
    top: 8px;
    left: 8px;
}

.promo-action:active::before
{
    display: none;
}
