.articles
{
    max-width: 760px;
    margin: -4px 0 0 162px;
}

.articles__title
{
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;

    margin: 0 0 -1px -1px;
}

.articles__link:link
{
    color: #04b;
}

.articles__link:visited
{
    color: #909;
}

.articles__photo
{
    position: absolute;

    width: 144px;
    height: 144px;
    margin: 5px 0 10px -160px;
}

.articles__date
{
    font-size: 15px;
    line-height: 15px;

    color: #777;
}

.articles__author
{
    font-weight: 600;

    display: inline;

    margin: 0;
}

.articles__position
{
    display: inline;

    margin: 0;
}

.articles__author + .articles__position::before
{
    content: ', ';
}

.articles__link
{
    text-decoration: none;
}

.articles__text
{
    min-height: 64px;
    margin: 16px 0 49px;
}
