.sitemap
{
    position: absolute;
    z-index: 999;
    top: 70px;

    display: none;
    width: 100%;
    min-height: calc(100% - 100px);
    padding-top: 29px;

    color: #fff;
    background: #444;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.sitemap_site_methodology
{
    background: #052433;
}

.sitemap_site_platform
{
    background: #330505;
}

.sitemap_site_community
{
    background: #25330a;
}

.sitemap_opened
{
    display: flex;
}

/* Hide all siblings then sitemap is shown */
.sitemap_opened ~ div, .sitemap_opened ~ footer
{
    display: none;
}

.sitemap__section
{
    width: 26%;
    margin-right: 11%;
}

.sitemap__section:first-child
{
    margin-left: 110px;
}

.sitemap__section:last-child
{
    margin-right: 100px;
}

.sitemap__title
{
    font-size: 18px;
    font-weight: normal;

    margin: 0 0 20px -10px;
    padding-bottom: 19px;

    text-indent: 10px;

    border-bottom: 1px solid;
}

.sitemap__title_site_methodology
{
    border-color: rgba(161, 207, 230, 0.3);
}

.sitemap__title_site_platform
{
    border-color: rgba(255, 153, 153, 0.3);
}

.sitemap__title_site_community
{
    border-color: rgba(177, 204, 122, 0.3);
}

.sitemap__current
{
    font-weight: normal;

    margin: -5px 0 0 -10px;
    padding: 5px 10px;

    color: #000;
    background: #fc0;
}

.sitemap__tree
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.sitemap__tree-item-1
{
    font-size: 14px;

    margin: 0 0 12px;
}

.sitemap__tree-item-2,
.sitemap__tree-item-1 + .sitemap__tree-item-3,
.sitemap__tree-item-1 + :not(.sitemap__tree-item-2) ~ .sitemap__tree-item-3
{
    font-size: 12px;

    margin: -8px 0 14px 30px;
}

.sitemap__tree-item-3
{
    font-size: 12px;

    margin: -18px 0 14px 60px;
}

.sitemap .link
{
    text-decoration: none;

    color: #fff;
    transition: all 0.3s;
}

.sitemap .link:hover
{
    opacity: 0.8;
}

.sitemap :visited
{
    color: rgb(180, 180, 180);
}

.sitemap_site_methodology :visited
{
    color: rgb(155, 167, 173);
}

.sitemap_site_platform :visited
{
    color: rgb(173, 155, 155);
}

.sitemap_site_comminity :visited
{
    color: rgb(167, 173, 157);
}
