.sitemap
{
    position: absolute;
    z-index: 999;
    top: 70px;

    display: none;

    width: 100%;
    min-height: calc(100% - 100px);
    padding-top: 29px;

    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    background: #444;
}

.sitemap_opened
{
    display: flex;
}

/* Hide all siblings then sitemap is shown */
.sitemap_opened ~ div,
.sitemap_opened ~ footer
{
    display: none;
}

.sitemap__section
{
    width: 18%;
    margin-right: 10%;
}

.sitemap__section:first-child
{
    width: 22%;
    margin-left: 110px;
}

.sitemap__section:last-child
{
    margin-right: 80px;
}

.sitemap__title
{
    font-size: 18px;
    font-weight: normal;

    margin: 0 0 20px -10px;
    padding-bottom: 19px;

    text-indent: 10px;

    border-bottom: 1px solid;
}

.sitemap__current
{
    font-weight: normal;

    margin: -5px 0 0 -10px;
    padding: 5px 10px;

    color: #000;
    background: #fc0;
}

.sitemap__tree
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.sitemap__tree-item-1
{
    font-size: 16px;

    margin: 0 0 12px;
}

.sitemap__tree-item-2,
.sitemap__tree-item-1 + .sitemap__tree-item-3,
.sitemap__tree-item-1 + :not(.sitemap__tree-item-2) ~ .sitemap__tree-item-3
{
    font-size: 16px;

    margin: -8px 0 14px 30px;
}

.sitemap__tree-item-3
{
    font-size: 14px;

    margin: -18px 0 14px 60px;
}

.sitemap__link
{
    transition: all 0.3s;
    text-decoration: none;

    color: #fff;
}

.sitemap__link:link:hover
{
    opacity: 0.8;
}

.sitemap__link:visited
{
    color: rgb(180, 180, 180);
}


/*mobile*/
@media all and (max-width: 480px)
{
}

/*tablet*/
@media all and (max-width: 780px)
{
    .sitemap__section
    {
        width: 50%;
    }
    .sitemap__section:first-child
    {
        width: 50%;
    }
}

/*tablet md*/
@media all and (max-width: 1200px)
{
    .sitemap_opened
    {
        display: block;
    }
    .sitemap__section
    {
        display: inline-block;

        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 3%;

        vertical-align: top;
    }
    .sitemap__section:first-child
    {
        width: 100%;
        margin: 0;
    }
    .sitemap__section:last-child
    {
        margin: 0;
    }
}

/*tablet lg*/
@media all and (min-width: 1200px)
{
}
