.sitemap
{
    padding: 29px 80px 50px 103px;

    transition: color 0.3s;

    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.sitemap__section
{
    margin-right: 7%;
}

.sitemap__section:last-child
{
    margin-right: 0;
}

.sitemap__section_site_methodology
{
    width: 28%;
}

.sitemap__section_site_toolbox
{
    width: 28%;
}

.sitemap__section_site_platform
{
    width: 30%;
}

/*
.sitemap__section_site_community
{
    width: 12%;
}
*/

.sitemap__title
{
    font-size: 18px;
    font-weight: normal;

    margin: 0 0 20px -11px;
    padding-bottom: 19px;

    text-indent: 10px;

    border-bottom: 1px solid;
}

.sitemap__current
{
    font-weight: normal;

    margin: -5px 0 0 -10px;
    padding: 5px 10px;

    white-space: nowrap;

    color: #000;
    background: #fc0;
}

.sitemap__tree
{
    line-height: 1.2;

    margin: 0;
    padding: 0;

    list-style: none;
}

.sitemap__tree-item-1
{
    font-size: 16px;

    margin: 0 0 16px;
}

.sitemap__tree-item-2,
.sitemap__tree-item-1 + .sitemap__tree-item-3,
.sitemap__tree-item-1 + :not(.sitemap__tree-item-2) ~ .sitemap__tree-item-3
{
    font-size: 16px;

    margin: -8px 0 20px 30px;
}

.sitemap__tree-item-3
{
    font-size: 14px;

    margin: -18px 0 14px 60px;
}

.sitemap__link
{
    transition: all 0.3s;
    text-decoration: none;

    color: #fff;
}

.sitemap__link:link:hover
{
    opacity: 0.8;
}

.sitemap__link:visited
{
    color: rgb(180, 180, 180);
}

@media (max-width: 800px)
{
    .sitemap
    {
        padding: 0 15px;

        border: 0;
    }

    .sitemap__section
    {
        width: auto;
        margin: 0;
    }

    .sitemap__title
    {
        margin: 0;
        padding: 0;
    }

    .sitemap__tree
    {
        margin: 20px 10px 40px;
    }
}
