.article
{
    position: relative;
    z-index: 1;
}

/* block level (begin) */
.article__paragraph,
.article__list,
.article__thematic-break,
.article__blockquote,
.article__table
{
    clear: left;

    max-width: 760px;
    margin: 0 0 16px;
}

@media print
{
    .article__paragraph,
    .article__list,
    .article__thematic-break,
    .article__blockquote,
    .article__table
    {
        max-width: auto;
    }
}

.article__list-item,
.article__list .article__list,
.article__list-item .article__paragraph:only-child
{
    margin: 0;
}

@media print
{
    .article__list-item
    {
        margin-top: 8px;
    }
}

@media screen
{
    .article__paragraph + .article__list
    {
        margin-top: -16px;
    }
}

.article__thematic-break::before
{
    visibility: hidden;

    content: '-';
}

.article__thematic-break
{
    margin: -16px 0 16px;
    padding: 0;

    color: #ccc;
    border: 0;
    background: url('article__hr.gif') repeat-x 0 75%;
}

/* block level (end) */

/* heading (begin) */
.article__heading
{
    font: 300 100% 'OpenSans-SemiBold', Arial, sans-serif;

    position: relative;
    z-index: 1;

    clear: left;

    padding: 0;
}

.article__heading_level_1
{
    font-size: 50px;
    line-height: 64px;

    float: left;

    margin: 0 0 43px -2px;
}

.article__heading_level_2
{
    font-size: 40px;
    line-height: 48px;

    margin: 48px 0 16px -1px;
}

.article__heading_level_3
{
    font-size: 34px;
    line-height: 48px;

    margin: 34px 0 14px;
}

.article__heading_level_4
{
    font-size: 28px;
    line-height: 32px;

    margin: 29px 0 19px;
}

.article__heading_level_5
{
    font-size: 24px;
    line-height: 32px;

    margin: 30px 0 18px;
}

.article__heading_level_6
{
    font-size: 20px;
    line-height: 32px;

    margin: 31px 0 17px;
}

.article__heading_level_1 + .article__heading_level_2
{
    position: relative;
    top: -7px;

    margin-bottom: 9px;
}

.article__heading_level_1 + .article__heading_level_2 + .article__heading_level_3
{
    margin-top: 11px;
}

.article__heading_level_3 + .article__heading_level_4
{
    margin-top: 27px;
}

.article__heading_level_4 + .article__heading_level_5
{
    margin-top: -2px;
}

.article__heading_level_5 + .article__heading_level_6
{
    margin-top: -1px;
}

@media print
{
    .article__heading-anchor
    {
        display: none;
    }
}

.article__heading-anchor::before
{
    font-size: 80%;

    position: absolute;

    display: none;

    margin: -0.08ex 0 0 -1.3em;
    padding: 0 0.4em;

    content: '§';

    color: #ccc;
}

.article__heading:hover .article__heading-anchor::before
{
    display: inline-block;
}

.article__heading[class] .article__inline-code /* повышаю вес селектора, чтобы перебить .article code */
{
    font: inherit;

    background: inherit;
}

/* heading (end) */

/* table (begin) */
.article__table
{
    width: 100%;

    border-spacing: 0;
    border-collapse: collapse;

    word-break: normal;
    word-break: keep-all;
}

.article__table::after
{
    display: block;

    margin-bottom: -7px;

    content: '\00a0';
}

.article__table-cell
{
    text-align: left;
    vertical-align: top;

    border-bottom: 1px solid rgb(233, 233, 233);
}

.article__table-cell::after
{
    height: 1px;

    content: '';

    border-bottom: 1px solid rgb(251, 251, 251);
}

.article__table-cell_heading
{
    font-weight: 600;

    padding: 0 16px 6px 0;
}

.article__table-cell_heading:last-child
{
    padding-right: 0;
}

.article__table-cell
{
    padding: 9px 16px 6px 0;
}

/* table (end) */

/* blockquote and pre (begin) */
.article__blockquote
{
    padding: 0 16px;

    border-left: 4px solid #e9e8e6;
    background: rgba(240, 240, 235, 0.4);
}

.article__code
{
    font: 16px/1.5 'Courier New', monospace;

    overflow-x: auto;

    box-sizing: border-box;
    max-width: calc(100% - 60px);
    margin: 0 0 16px;
    padding: 16px 20px 16px 16px;

    white-space: pre;

    color: #657b83;
    border-left: 4px solid #e9e8e6;
    background: rgba(240, 240, 235, 0.4);
}

.article__code_correctHeight
{
    margin-bottom: 24px;
}

/* Не используем цвета для print версии, см. https://github.com/bem-site/bem.info/issues/166*/
@media print
{
    .article__blockquote,
    .article__code
    {
        border: 0;
        background: none;
    }
}

/* Copy/paste from //cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/solarized_light.min.css
 * Unused statements removed
 * Не используем цвета для print версии, см. https://github.com/bem-site/bem.info/issues/166*/
@media screen
{
    .hljs-comment,
    .hljs-doctype,
    .hljs-pi
    {
        color: #93a1a1;
    }

    .hljs-keyword,
    .hljs-winutils,
    .method/*WTF???*/,
    .hljs-addition,
    .css .hljs-tag,
    .hljs-request,
    .hljs-status
    {
        color: #859900;
    }

    .hljs-number,
    .hljs-command,
    .hljs-string,
    .hljs-tag .hljs-value,
    .hljs-rule .hljs-value,
    .hljs-doctag,
    .hljs-regexp,
    .hljs-hexcolor,
    .hljs-link_url
    {
        color: #2aa198;
    }

    .hljs-title,
    .hljs-localvars,
    .hljs-chunk,
    .hljs-decorator,
    .hljs-built_in,
    .hljs-identifier,
    .hljs-id,
    .css .hljs-function,
    .hljs-name
    {
        color: #268bd2;
    }

    .hljs-attribute,
    .hljs-variable,
    .hljs-constant,
    .hljs-class .hljs-title,
    .hljs-parent,
    .hljs-type,
    .hljs-link_reference
    {
        color: #b58900;
    }

    .hljs-preprocessor,
    .hljs-preprocessor .hljs-keyword,
    .hljs-pragma,
    .hljs-shebang,
    .hljs-symbol,
    .hljs-symbol .hljs-string,
    .hljs-special,
    .hljs-attr_selector,
    .hljs-subst,
    .hljs-cdata,
    .css .hljs-pseudo,
    .hljs-header
    {
        color: #cb4b16;
    }

    .hljs-deletion,
    .hljs-important
    {
        color: #dc322f;
    }

    .hljs-link_label
    {
        color: #6c71c4;
    }
}

/* blockquote and pre (end) */

/* inline (begin) */
.article__strong
{
    font: 16px/1.9 'OpenSans-SemiBold', Arial, sans-serif;
}

@media print
{
    .article__strong
    {
        font-size: inherit;
        line-height: inherit;
    }
}

/* Image height MUST be multiple 16px */
.article__image
{
    max-width: 100%;
    margin: 7px 0 -1px;
}

.article__inline-code
{
    font-family: 'Courier New', monospace;
    font-size: 16px;
    line-height: 1.8;

    padding: 0 2px;

    white-space: nowrap;

    border-radius: 3px;
    background: rgba(240, 240, 235, 0.5);
}

@media print
{
    .article__inline-code
    {
        line-height: inherit;
    }
}

/* links (begin) */
.article__link
{
    transition: all 0.3s;
    text-decoration: none;
}

.article__link[name]:empty
{
    display: block;

    min-height: 16px;
    margin-bottom: -32px;
}

@media screen
{
    .article__link:link
    {
        color: #04b;
    }

    .article__link:visited
    {
        color: #909;
    }

    .article__link:hover
    {
        color: #c00;
    }
}

@media print
{
    .article__link
    {
        color: inherit;
    }

    .article__link[name]
    {
        display: none;
    }

    .article__link::after
    {
        content: ' (' attr(href) ')';
    }
}

/* links (end) */

/* inline (end) */

/*tablet*/
@media (max-width: 780px)
{
    .article
    {
        padding: 8px 10px 16px;
    }

    .article-tags
    {
        display: block;

        padding: 0;
    }

    .article__heading
    {
        z-index: 0;

        box-sizing: border-box;
        width: 100%;
        padding-right: 10px;
    }

    .article__heading-anchor::before
    {
        top: 0;
        right: 0;
    }

    .article__image
    {
        width: 100%;
    }
}

/*mobile*/
@media (max-width: 480px)
{
    .article__heading_level_1
    {
        font-size: 36px;

        margin-bottom: 0;
    }

    .article__heading_level_2
    {
        font-size: 28px;
    }

    .article__heading_level_3
    {
        font-size: 20px;
    }

    .article__blockquote,
    .article__code
    {
        margin: 10px -10px;
        padding: 10px;

        border: 0;
    }
}

/* Portrait */
@media (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait)
{
    .article__code,
    .article__strong,
    .article__inline-code,
    .article__paragraph,
    .article__list
    {
        font-size: 18px;
        line-height: 27px;
    }
}

/* Landscape */
@media (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape)
{
    .article__code,
    .article__strong,
    .article__inline-code,
    .article__paragraph,
    .article__list
    {
        font-size: 10px;
    }
}
