/* block level (begin) */
.article p,
.article ul,
.article ol,
.article hr,
.article blockquote,
.article pre,
.article table
{
    clear: left;

    max-width: 760px;
    margin: 0 0 16px;
}

@media print
{
    .article p,
    .article ul,
    .article ol,
    .article hr,
    .article blockquote,
    .article pre,
    .article table
    {
        max-width: auto;
    }
}

.article li,
.article ul ul,
.article ul ol,
.article ol ul,
.article ol ol
{
    margin: 0;
}

@media print
{
    .article li
    {
        margin-top: 8px;
    }
}

@media screen
{
    .article p + ol,
    .article p + ul,
    .article p + table
    {
        margin-top: -16px;
    }

    .article p + table
    {
        margin-top: -1px;
    }
}

.article hr:before
{
    visibility: hidden;

    content: '-';
}

.article hr
{
    margin: -16px 0 16px;
    padding: 0;

    color: #ccc;
    border: 0;
    background: url('article__hr.gif') repeat-x 0 75%;
}
/* block level (end) */

/* heading (begin) */
.article__heading
{
    font-family: 'OpenSans-SemiBold', Arial, sans-serif;
    font-weight: 300;

    position: relative;
    z-index: 1;

    clear: left;

    padding: 0;
}

.article__heading_1
{
    font-size: 49px;
    line-height: 64px;

    float: left;

    margin: 0 0 43px -2px;
}
/*
    .article__info
    {
        margin-bottom: 39px;

        font-size: 14px;
    }
*/
.article__heading_2
{
    font-size: 36px;
    line-height: 48px;

    margin: 50px 0 14px -1px;
}

.article__heading_3
{
    font-size: 28px;
    line-height: 48px;

    margin: 37px 0 11px 0;
}

.article__heading_4
{
    font-size: 20px;
    line-height: 32px;

    margin: 31px 0 17px 0;
}

.article__heading_5
{
    font-size: 18px;
    line-height: 32px;

    margin: 31px 0 16px 0;
}

.article__heading_1 + .article__heading_2
{
    position: relative;
    top: -7px;

    margin-bottom: 7px;
}

.article__heading_1 + .article__heading_2 + .article__heading_3
{
    margin-top: 12px;
}

.article__heading_2 + .article__heading_3
{
    margin-top: 19px;
}

.article__heading_3 + .article__heading_4
{
    margin-top: -1px;
}

.article__heading_4 + .article__heading_5
{
    margin-top: -1px;
}

@media print
{
    .article__heading-anchor
    {
        display: none;
    }
}

.article__heading-anchor::before
{
    font-size: 80%;

    position: absolute;

    display: none;

    margin: -0.08ex 0 0 -1.3em;
    padding: 0 0.4em;

    content: '§';

    color: #ccc;
}

.article__heading:hover .article__heading-anchor::before
{
    display: inline-block;
}

.article__heading[class] code /* повышаю вес селектора, чтобы перебить .article code */
{
    font-size: inherit;

    background: inherit;
}
/* heading (end) */

/* table (begin) */
.article table
{
    word-break: normal;
    word-break: keep-all;

    border-spacing: 0;
    border-collapse: collapse;
}

/*
.article tr:nth-child(2n) {
  background: #f8f8f8;
}
*/

.article th
{
    font-weight: bold;

    padding: 0 13px;

    text-align: left;
    vertical-align: top;

    border: 1px solid #ddd;
}

.article td
{
    padding: 15px 13px;

    vertical-align: top;

    border: 1px solid #ddd;
}
/* table (end) */

/* blockquote and pre (begin) */
.article blockquote,
.article pre
{
    padding: 0 16px;

    border-left: 4px solid #e9e8e6;
}

/* Не используем цвета для print версии, см. https://github.com/bem-site/bem.info/issues/166*/
@media screen
{
    .article blockquote,
    .article pre
    {
        background: rgba(240, 240, 235, 0.4);
    }
}

.article pre code
{
    font: 16px/1.5 'Courier New', monospace;

    display: block;
    overflow-x: auto;

    width: 100%;
    padding: 6px 0 2px;

    white-space: pre;

    color: #657b83;
    border: 0;
    background: none;
}

.article blockquote pre
{
    border: 0;
    background: none;
}

.article blockquote code,
.article blockquote code
{
    margin-bottom: -1px;
    padding: 1px 0 0;
}

/* Copy/paste from //cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/solarized_light.min.css */
/* Unused statements removed */
/* Не используем цвета для print версии, см. https://github.com/bem-site/bem.info/issues/166*/
@media screen
{
    .hljs-comment,
    .hljs-doctype,
    .hljs-pi
    {
        color: #93a1a1;
    }

    .hljs-keyword,
    .hljs-winutils,
    .method/*WTF???*/,
    .hljs-addition,
    .css .hljs-tag,
    .hljs-request,
    .hljs-status
    {
        color: #859900;
    }

    .hljs-number,
    .hljs-command,
    .hljs-string,
    .hljs-tag .hljs-value,
    .hljs-rule .hljs-value,
    .hljs-doctag,
    .hljs-regexp,
    .hljs-hexcolor,
    .hljs-link_url
    {
        color: #2aa198;
    }

    .hljs-title,
    .hljs-localvars,
    .hljs-chunk,
    .hljs-decorator,
    .hljs-built_in,
    .hljs-identifier,
    .hljs-id,
    .css .hljs-function,
    .hljs-name
    {
        color: #268bd2;
    }

    .hljs-attribute,
    .hljs-variable,
    .hljs-constant,
    .hljs-class .hljs-title,
    .hljs-parent,
    .hljs-type,
    .hljs-link_reference
    {
        color: #b58900;
    }

    .hljs-preprocessor,
    .hljs-preprocessor .hljs-keyword,
    .hljs-pragma,
    .hljs-shebang,
    .hljs-symbol,
    .hljs-symbol .hljs-string,
    .hljs-special,
    .hljs-attr_selector,
    .hljs-subst,
    .hljs-cdata,
    .css .hljs-pseudo,
    .hljs-header
    {
        color: #cb4b16;
    }

    .hljs-deletion,
    .hljs-important
    {
        color: #dc322f;
    }

    .hljs-link_label
    {
        color: #6c71c4;
    }
}
/* blockquote and pre (end) */

/* inline (begin) */
.article strong
{
    font: 16px/1.9 'OpenSans-SemiBold', Arial, sans-serif;
}

@media print
{
    .article strong
    {
        font-size: inherit;
        line-height: inherit;
    }
}

/* Image height MUST be multiple 16px */
.article img
{
    margin: 7px 0 -1px;
}

.article code
{
    font-family: 'Courier New', monospace;
    font-size: 16px;
    line-height: 1.8;

    padding: 0 2px;

    white-space: nowrap;

    border-radius: 3px;
    background: rgba(240, 240, 235, 0.5);
}

@media print
{
    .article code
    {
        line-height: inherit;
    }
}

/* links (begin) */
.article a
{
    transition: all 0.3s;
    text-decoration: none;
}

@media screeen
{
    .article a:link
    {
        color: #04b;
    }

    .article a:visited
    {
        color: #909;
    }

    .article a:hover
    {
        color: #c00;
    }
}

@media print
{
    .article a
    {
        color: inherit;
    }

    .article a[name]
    {
        display: none;
    }

    .article a::after
    {
        content: ' (' attr(href) ')';
    }
}
/* links (end) */
/* inline (end) */

/*tablet*/
@media (max-width: 780px)
{
    .article
    {
        padding: 8px 10px 16px;
    }

    .article-tags
    {
        display: block;

        padding: 0;
    }

    .article__heading
    {
        z-index: 0;

        box-sizing: border-box;
        width: 100%;
        padding-right: 10px;
    }

    .article__heading-anchor::before
    {
        top: 0;
        right: 0;
    }

    .article img
    {
        width: 100%;
    }
}

/*mobile*/
@media (max-width: 480px)
{
    .article__heading_1
    {
        font-size: 36px;

        margin-bottom: 0;
    }

    .article__heading_2
    {
        font-size: 28px;
    }

    .article__heading_3
    {
        font-size: 20px;
    }

    .article blockquote,
    .article pre
    {
        margin: 10px -10px;
        padding: 10px;

        border: 0;
    }
}

/* Portrait */
@media (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait)
{
    .article pre code,
    .article strong,
    .article code,
    .article p,
    .article ul
    {
        font-size: 18px;
        line-height: 27px;
    }
}

/* Landscape */
@media (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape)
{
    .article pre code,
    .article strong,
    .article code,
    .article p,
    .article ul
    {
        font-size: 10px;
    }
}
