/* block level (begin) */
.article h1,
.article h2,
.article h3,
.article h4,
.article p,
.article ul,
.article ol,
.article hr,
.article blockquote,
.article pre
{
    clear: left;

    max-width: 760px;
}

.article p,
.article ul,
.article ol,
.article blockquote,
.article pre,
.article hr
{
    margin: 0 0 16px;
}

.article li
{
    margin: 0;
}

.article ul ul,
.article ul ol,
.article ol ul,
.article ol ol
{
    margin-top: 16px;
}

.article hr:before
{
    visibility: hidden;

    content: '-';
}

.article hr
{
    margin: -16px 0 16px;
    padding: 0;

    color: #ccc;
    border: 0;
    background: url('article__hr.gif') repeat-x 0 75%;
}
/* block level (end) */


/* heading (begin) */
.article__heading
{
    font-family: 'OpenSans-SemiBold', Arial, sans-serif;
    font-weight: 300;

    position: relative;
    z-index: 1;

    padding: 0;
}

.article__heading_1
{
    font-size: 49px;
    line-height: 64px;

    float: left;

    margin: 0 0 43px -2px;
}
/*
    .article__info
    {
        margin-bottom: 39px;

        font-size: 14px;
    }
*/
.article__heading_2
{
    font-size: 36px;
    line-height: 48px;

    margin: 50px 0 14px -1px;
}

.article__heading_3
{
    font-size: 28px;
    line-height: 48px;

    margin: 37px 0 11px 0;
}

.article__heading_4
{
    font-size: 20px;
    line-height: 32px;

    margin: 31px 0 17px 0;
}

.article__heading_1 + .article__heading_2
{
    position: relative;
    top: -7px;

    margin-bottom: 7px;
}

.article__heading_2 + .article__heading_3
{
    margin-top: 19px;
}

.article__heading_3 + .article__heading_4
{
    margin-top: -1px;
}

.article__heading-anchor::before
{
    font-size: 80%;

    position: absolute;

    display: none;

    margin: -0.08ex 0 0 -1.3em;
    padding: 0 0.4em;

    content: '§';

    color: #ccc;
}

.article__heading:hover .article__heading-anchor::before
{
    display: inline-block;
}
/* heading (end) */

/* blockquote and pre (begin) */
.article blockquote,
.article pre
{
    padding: 0 32px;

    border-left: 4px solid #e9e8e6;
    background: rgba(240, 240, 235, 0.4);
    /* MUST BE #F6F5F3 */
}

.article pre code
{
    font: 16px/1 Consolas, monospace;

    display: block;
    overflow-x: auto;

    width: 100%;
    padding: 9px 0 7px;

    white-space: pre;

    color: #657b83;
    border: 0;
    background: none;
}

/* Double line-height for HTML/XML */
.article code.lang-xml,
.article code.lang-html
{
    line-height: 2;

    padding: 17px 0 15px;
}

.article blockquote pre
{
    border: 0;
    background: none;
}

.article blockquote code.lang-xml,
.article blockquote code.lang-html
{
    margin-bottom: -1px;
    padding: 1px 0 0;
}

/* Copy/paste from //cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/solarized_light.min.css */
/* Unused statements removed */
.hljs-comment,
.hljs-doctype,
.hljs-pi
{
    color: #93a1a1;
}
.hljs-keyword,
.hljs-winutils,
.method/*WTF???*/,
.hljs-addition,
.css .hljs-tag,
.hljs-request,
.hljs-status
{
    color: #859900;
}
.hljs-number,
.hljs-command,
.hljs-string,
.hljs-tag .hljs-value,
.hljs-rule .hljs-value,
.hljs-doctag,
.hljs-regexp,
.hljs-hexcolor,
.hljs-link_url
{
    color: #2aa198;
}
.hljs-title,
.hljs-localvars,
.hljs-chunk,
.hljs-decorator,
.hljs-built_in,
.hljs-identifier,
.hljs-id,
.css .hljs-function,
.hljs-name
{
    color: #268bd2;
}
.hljs-attribute,
.hljs-variable,
.hljs-constant,
.hljs-class .hljs-title,
.hljs-parent,
.hljs-type,
.hljs-link_reference
{
    color: #b58900;
}
.hljs-preprocessor,
.hljs-preprocessor .hljs-keyword,
.hljs-pragma,
.hljs-shebang,
.hljs-symbol,
.hljs-symbol .hljs-string,
.hljs-special,
.hljs-attr_selector,
.hljs-subst,
.hljs-cdata,
.css .hljs-pseudo,
.hljs-header
{
    color: #cb4b16;
}
.hljs-deletion,
.hljs-important
{
    color: #dc322f;
}
.hljs-link_label
{
    color: #6c71c4;
}
/* blockquote and pre (end) */

/* inline (begin) */
.article strong
{
    font: 16px/1.9 'OpenSans-SemiBold', Arial, sans-serif;
}

/* Image height MUST be multiple 16px */
.article img
{
    margin: 7px 0 -1px;
}

.article img[alt = 'NPM Status' i],
.article img[alt = 'NPM Version' i],
.article img[alt = 'Build Status' i],
.article img[alt = 'Travis Status' i],
.article img[alt = 'Windows Status' i],
.article img[alt = 'Coverage Status' i],
.article img[alt = 'Dependency Status' i],
.article img[alt = 'devDependency Status' i]
{
    display: none;
}

.article code
{
    font: 16px/1.8 Consolas, monospace;

    padding: 0 5px;

    border: 1px solid #f6f5f3;
    border-radius: 3px;
    background: #f6f5f3;
}

/* links (begin) */
.article a
{
    transition: all 0.3s;
    text-decoration: none;
}

.article a:link
{
    color: #04b;
}

.article a:visited
{
    color: #909;
}

.article a:hover
{
    color: #c00;
}
/* links (end) */
/* inline (end) */

/*tablet*/
@media all and (max-width: 780px)
{
    .article
    {
        padding: 8px 10px 16px;
    }

    .article-tags
    {
        display: block;

        padding: 0;
    }

    .article__heading
    {
        z-index: 0;

        box-sizing: border-box;
        width: 100%;
        padding-right: 10px;
    }

    .article__heading-anchor::before
    {
        top: 0;
        right: 0;
    }

    .article img
    {
        width: 100%;
    }
}

/*mobile*/
@media all and (max-width: 480px)
{
    .article__heading_1
    {
        font-size: 36px;

        margin-bottom: 0;
    }

    .article__heading_2
    {
        font-size: 28px;
    }

    .article__heading_3
    {
        font-size: 20px;
    }

    .article blockquote,
    .article pre
    {
        margin: 10px -10px;
        padding: 10px;

        border: 0;
    }
}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (orientation: portrait)
{
    .article pre code,
    .article strong,
    .article code,
    .article p,
    .article ul
    {
        font-size: 18px;
        line-height: 27px;
    }
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (orientation: landscape)
{
    .article pre code,
    .article strong,
    .article code,
    .article p,
    .article ul
    {
        font-size: 10px;
    }
}
