.lang-switcher
{
    display: inline-block;

    margin-top: 18px;

    vertical-align: top;
}

.lang-switcher .select__button
{
	font: inherit;

	padding: 3px 3px 3px 1px;
}

.lang-switcher .select__button
{
	background: none;
}

.lang-switcher .select__button::before
{
	border: 1px solid rgba(255, 255, 255, 0.2);
	background: none;
}

.lang-switcher .select__button.button_pressed::before
{
	background: rgba(255, 255, 255, 0.1);
}

.lang-switcher .select__button
{
	letter-spacing: 0.2em;

	color: #fff;
}

.lang-switcher .select_theme_islands .select__tick
{
	top: 4px;
	right: 4px;

	color: #fff;
}
