.promo-section__company
{
    text-align: center;
    /*TODO: Это временный стиль, пока не повятся media querties
      TODO:чтобы располагать блоки в зависимости от ширины экрана*/
    width:30%;
}

.promo-section__logo
{
    height: 150px;
}
