.promo-title
{
    font-size: 15px;
    font-weight: 600;
    line-height: 2.1;

    margin: 0;
    padding: 50px 0 0;

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.promo-title .bem
{
    letter-spacing: 2px;
}

/*!*tablet lg*!*/
/*@media all and (min-width: 1200px)*/
/*{*/
/*}*/

/*!*tablet md*!*/
/*@media all and (max-width: 1200px)*/
/*{*/
/*}*/

/*tablet*/
@media all and (max-width: 780px)
{
    .promo-title
    {
        font-size: 14px;

        margin: 0 2%;
        padding: 20px 0 0 0;
    }
}

/*mobile*/
@media all and (max-width: 480px)
{
    .promo-title
    {
        font-size: 13px;

        margin: 0 12px;
        padding: 40px 0 0;
    }
}
