.promo-title
{
    line-height: 2.1;
    letter-spacing: 2px;
	font-weight: normal;
    text-transform: uppercase;
}

/*TODO: find article design
/*.promo-title*/
/*{*/
    /*font-size: 36px;*/
    /*font-weight: normal;*/

    /*clear: both;*/

    /*margin: 0 0 0 213px;*/
    /*padding: 2em 0 1em;*/
/*}*/

