.promo-header
{
    font-weight: normal;

    position: relative;
    z-index: 0;

    overflow: hidden;

    margin: -1px 0 0 0;
    padding-bottom: 80px;

    white-space: nowrap;
}

.promo-header__header
{
    font-weight: normal;

    display: inline-block;

    margin: 6px 0 0 392px;
}

.promo-header__title
{
    font-size: 98px;

    display: block;

    margin-bottom: -32px;

    letter-spacing: 8px;

    color: #fff;
}

.promo-header__subtitle
{
    font-size: 30px;

    position: relative;

    display: inline-block;

    margin-left: -20px;
    padding: 2px 18px 1px 25px;

    letter-spacing: 6px;
    text-transform: uppercase;
}

.promo-header__subtitle::before
{
    position: absolute;
    z-index: -1;
    top: 8px;
    left: 8px;

    width: 100%;
    height: 100%;

    content: '';

    background: rgba(0, 0, 0, 0.3);
}

.promo-header_site_methodology .promo-header__subtitle
{
    color: #000;
    background: #fff;
}

.promo-header_site_platform .promo-header__subtitle
{
    color: #000;
    background: rgb(255, 204, 0);
}

.promo-header__text
{
    font-size: 15px;
    font-weight: 600;
    line-height: 26px;

    position: relative;

    overflow: visible;

    max-width: 40em;
    margin: 34px 0 74px 382px;
    padding: 5px 16px 6px 18px;

    white-space: normal;

    color: #fff;
    background: rgba(0, 0, 0, 0.1);
}

.promo-header__link
{
    transition: all 0.3em;

    color: #fff;
}

.promo-header__link:hover
{
    opacity: 0.8;
}

/*!*tablet lg*!*/
/*@media all and (min-width: 1200px)*/
/*{*/
/*}*/

/*tablet md*/
@media all and (max-width: 1200px)
{
    .promo-header__header
    {
        margin: 6px 0 0 10%;
    }

    .promo-logo__logo_bright
    {
        opacity: 0.35;
    }

    .promo-header__text
    {
        margin: 34px 0 74px 10%;
    }
}

/*tablet*/
@media all and (max-width: 790px)
{
    .promo-header__header
    {
        margin: 6px 0 0 5%;
    }

    .promo-header__text
    {
        margin: 34px 0 74px 5%;
    }

    .promo-header__subtitle,
    .promo-action
    {
        font-size: 24px;

        margin: 0;
    }

    .promo-logo__logo_methodology_1
    {
        display: none;
    }

    @media all and (max-width: 680px)
    {
        .promo-header__header
        {
            margin: 6px 0 0 2%;
        }

        .promo-header__text
        {
            margin: 34px 2% 74px;
        }

        .promo-header__subtitle,
        .promo-action
        {
            font-size: 19px;
        }
        .promo-action::after
        {
            top: 0;
        }
    }
}

/*mobile*/
@media all and (max-width: 580px)
{
    .promo-header
    {
        padding-bottom: 50px;
    }

    .promo-header__header
    {
        display: block;

        margin: 6px 5% 0 14px;
    }

    .promo-header__text
    {
        font-size: 14px;

        margin: 34px 0 105px;
        padding: 5px 14px 6px 20px;
    }

    .promo-header__title
    {
        font-size: 90px;

        margin-bottom: -38px;
    }

    .promo-header__subtitle
    {
        font-size: 16px;

        margin: 6px;
    }

    .promo-action
    {
        font-size: 16px;

        margin: 6px 20px;
    }

    .promo-action::after
    {
        top: 0;

        width: 11px;
        height: 11px;
    }

    .promo-logo
    {
        display: none;
    }
}
