.promo-header
{
    font-weight: normal;

    position: relative;
    z-index: 0;

    overflow: hidden;

    min-height: 300px;
    margin: -1px 0 0 0;
    padding-bottom: 100px;

    white-space: nowrap;
}

.promo-header__header
{
    font-weight: normal;

    display: inline-block;

    margin: 6px 0 0 392px;
}

.promo-header__title
{
    font-size: 98px;

    display: block;

    margin-bottom: -32px;

    letter-spacing: 8px;

    color: #fff;
}

.promo-header__subtitle
{
    font-size: 30px;

    position: relative;

    display: inline-block;

    margin-left: -21px;
    padding: 2px 18px 1px 25px;

    letter-spacing: 6px;
    text-transform: uppercase;
}

.promo-header__subtitle::before
{
    position: absolute;
    z-index: -1;
    top: 8px;
    left: 8px;

    width: 100%;
    height: 100%;

    content: '';

    background: rgba(0, 0, 0, 0.3);
}

/*!*tablet lg*!*/
/*@media all and (min-width: 1200px)*/
/*{*/
/*}*/

/*tablet md*/
@media all and (max-width: 1200px)
{
    .promo-header__header
    {
        margin: 6px 0 0 10%;
    }
}

/*tablet*/
@media all and (max-width: 790px)
{
    .promo-header__header
    {
        margin: 6px 0 0 5%;
    }

    .promo-header__subtitle
    {
        font-size: 24px;

        margin: 0;
    }

    @media all and (max-width: 680px)
    {
        .promo-header__header
        {
            margin: 6px 0 0 2%;
        }

        .promo-header__subtitle
        {
            font-size: 19px;
        }
    }
}

/*mobile*/
@media all and (max-width: 580px)
{
    .promo-header
    {
        padding-bottom: 50px;
    }

    .promo-header__header
    {
        display: block;

        margin: 6px 5% 0 14px;
    }

    .promo-header__title
    {
        font-size: 90px;

        margin-bottom: -38px;
    }

    .promo-header__subtitle
    {
        font-size: 16px;

        margin: 6px;
    }
}
