.legos__lego_height_2
{
    background-position: 0 28px;
}

.legos__lego_height_3
{
    background-position: 0 56px;
}

.legos__lego_height_4
{
    background-position: 0 84px;
}

.legos__lego_height_5
{
    background-position: 0 112px;
}
