.doc-rating {
    font-size: 14px;
    line-height: 1.3;

    visibility: hidden;

    color: rgba(255, 255, 255, 0.8);
}

.doc-rating_js_inited {
    visibility: visible;
}

.doc-rating__title {
    font-size: 15px;
}

.doc-rating__stars {
    display: block;

    margin: 8px 0 5px;
}

.doc-rating__total {
    display: block;
}

.doc-rating__value {
    display: block;
}
