.breadcrumbs
{
    font-size: 17px;

    display: inline-block;

    padding: 0;

    vertical-align: top;

    background: inherit;
}

.breadcrumbs__item
{
    display: inline-block;

    margin: 0 10px 0 0;
    padding: 0;

    letter-spacing: 1px;

    color: #fff;
}

.breadcrumbs__item::after
{
    margin-left: 11px;

    content: '/';

    color: rgba(255, 255, 255, 0.55);
}

.breadcrumbs__item:last-child::after
{
    display: none;
}

.breadcrumbs__link
{
    transition: color 0.3s;
    text-decoration: none;

    color: rgba(255, 255, 255, 0.55);
}

.breadcrumbs__link:hover
{
    color: #fff;
}
