.footer
{
    background: #000;
}

.footer__layout
{
    justify-content: space-between;
}

.footer__domain
{
    font-style: italic;

    margin: 0 31px 0 0;
}

.footer__copyright
{
    margin: 0;
}

.footer__copyright-ya
{
    font-weight: 600;

    text-decoration: none;

    color: #fff;
}

/*tablet lg*/
@media all and (min-width: 1200px)
{
}

/*tablet md*/
@media all and (max-width: 1200px)
{
}

/*tablet*/
@media all and (max-width: 780px)
{
    .footer__layout
    {
        display: block;

        padding: 40px 10%;
    }
}

/*mobile*/
@media all and (max-width: 480px)
{
}
