.footer
{
    width: 100vw;
}

.footer__layout
{

    margin: 50px 31px 30px 20px;
    justify-content: space-between;
}

.footer__community
{
    margin: 0 31px 20px 0;
}

.footer__domain
{
    font-style: italic;

    margin: 0 31px 20px 0;
}

.footer__copyright
{
    margin: 0 0 20px;
}

.footer__copyright-ya
{
    font-weight: 600;

    text-decoration: none;

    color: #fff;
}

/* mobile */
@media (max-width: 480px)
{
    .footer__layout
    {
        flex-direction: column;

        margin: 20px 15px;

        text-align: center;
    }

    .footer__community,
    .footer__domain
    {
        margin-right: 0;
    }

    .footer__channel
    {
        margin-right: 20px;
    }
}
