.index-title
{
    font-size: 24px;
    font-weight: 300;
    line-height: 1.4;

    margin: 80px 0 85px;

    text-align: center;
}

.index-title .bem
{
    font-size: 36px;

    display: block;

    margin-bottom: 5px;

    letter-spacing: 5px;
}

/*!*tablet lg*!*/
/*@media all and (min-width: 1200px)*/
/*{*/
/*}*/

/*!*tablet md*!*/
/*@media all and (max-width: 1200px)*/
/*{*/
/*}*/

/*!*tablet*!*/
/*@media all and (max-width: 780px)*/
/*{*/
/*}*/

/*mobile*/
@media all and (max-width: 480px)
{
    .index-title
    {
        font-size: 18px;

        margin: 50px auto;
    }
}
