.promo-content
{
    clear: both;

    margin: 2em 0;
}

.promo-content__text
{
    font-size: 19px;

    overflow: hidden;
}

.promo-content__image_side_left
{
    float: left;

    margin: 0 40px 2em -25px;
}

.promo-content__image_side_right
{
    position: relative;
    left: 25px;

    float: right;

    margin: 0 0 2em 15px;
}
