.search
{
    position: relative;
    z-index: 0;

    overflow: hidden;
    width: 160px;
}

.search__open, .search__close
{
    position: absolute;
    top: 0;

    width: 17px;
    height: 17px;
    padding: 23px 31px 30px 32px;

    display: block;
    cursor: pointer;

    /* search__switcher.svg properties */
    fill: none;
    stroke: rgba(255, 255, 255, 0.65);
    stroke-width: 2;

    transition: all 0.3s cubic-bezier(.02, .01, .47, 1);
}

.search__open
{
    right: 0;
}

.search__open:hover
{
    stroke: #fff;
}

.search__close
{
    right: -80px;
}

.search_opened
{
    position: static;
    z-index: 1;

    overflow: visible;
}

.search_opened .search__open
{
    right: 80px;

    stroke: #000;
    background: #fc0;
    transition: all 0.3s;
}

.search_opened .search__close
{
    right: 0;

    stroke: rgba(255, 255, 255, 0.65);
    background: none;
}

.search_opened .search__close:hover
{
    stroke: #fff;
}

.search__form
{
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 81px;

    display: none;
    width: calc(100% - 241px);

    background: #444;
}

.search_opened .search__form
{
    display: block;
}

.search__form .input_theme_islands.input_size_l
{
    font: inherit;
    font-size: 17px;

    width: 100%;
    margin-top: 18px;

    background: none;
}

.search__form .input_theme_islands:before
{
    background: none;
}

.search__form .input_theme_islands.input_focused
{
    box-shadow: none;
}

.search__form .input_theme_islands.input_size_l .input__control
{
    padding-left: 29px;

    letter-spacing: 1px;

    color: rgba(255, 255, 255, 0.6);
}

.search__form .input_theme_islands .input__control::-webkit-input-placeholder
{
    color: rgba(255, 255, 255, 0.6);
}

.search__form .input_theme_islands .input__control::-moz-placeholder
{
    color: rgba(255, 255, 255, 0.6);
}

.search__form .input_theme_islands .input__control:-ms-input-placeholder
{
    color: rgba(255, 255, 255, 0.6);
}

.search__submit
{
    position: absolute;
    top: 0;
    right: -80px;

    width: 80px;
    height: 70px;

    cursor: pointer;

    border: 0;
    outline: 0;
    background: none;
}
