.search
{
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;

    overflow: hidden;

    width: 160px;
    height: 70px;
}

.search_opened
{
    position: static;
    z-index: 1;

    overflow: visible;
}

.search_opened .search__submit
{
    right: 80px;

    background: #fc0;

    stroke: #000;
}

.search_opened .search__submit:hover
{
    stroke: #000;
}

.search__submit
{
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;

    margin: 0;

    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);

    border: 0;
    outline: none;
    background: transparent;
}

.search__submit:hover
{
    stroke: #fff;
}

.search__form
{
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 81px;

    width: calc(100% - 241px);
    height: 70px;

    background: #444;
}

.search__form .input
{
    font-size: 17px;

    display: inline-block;

    width: calc(100% - 50px);
    margin: 18px 0 0 29px;

    letter-spacing: 1px;
}

.search__form .input__control
{
    font: inherit;

    width: 100%;
    padding: 0;

    color: rgba(255, 255, 255, 0.6);
    border: 0;
    outline: 0;
    background: none;

    -webkit-appearance: none;
}

.search__form .input__control::-webkit-input-placeholder
{
    opacity: 1;
    color: rgba(255, 255, 255, 0.6);
}

.search__form .input__control::-webkit-search-cancel-button
{
    display: none;
}

.search__form .input__control::-moz-placeholder
{
    opacity: 1;
    color: rgba(255, 255, 255, 0.6);
}

.search__form .input__control:-ms-input-placeholder
{
    opacity: 1;
    color: rgba(255, 255, 255, 0.6);
}

/*tablet*/
@media all and (max-width: 780px)
{
    .search
    {
        top: -20px;
        left: 0;

        width: calc(100% - 40px);

        background: inherit;
    }

    .search_opened
    {
        position: absolute;
        z-index: 2;
    }

    .search_opened .search__form
    {
        display: block;

        background: inherit;
    }

    .search__form
    {
        position: static;

        display: block;

        width: auto;
        height: 47px;
        margin: 0 10px 0 13px;
        padding: 12px 0 5px 30px;

        border-bottom: 1px solid #ccc;
    }

    .search__form .input
    {
        width: 100%;
        margin: 18px 0 0;
    }

    .search_opened .search__submit
    {
        transition: none;

        background: transparent;

        stroke: #fff;
        stroke-width: 1;
    }

    .search_opened .search__submit:hover
    {
        stroke: #fff;
    }

    .search__submit
    {
        top: -8px;
        left: -17px;

        width: 19px;
        height: 19px;
    }
}
