.search
{
    position: relative;
    z-index: 0;

    overflow: hidden;

    width: 160px;
}

.search__open,
.search__close
{
    position: absolute;
    top: 0;

    display: block;

    width: 17px;
    height: 17px;
    padding: 23px 31px 30px 32px;

    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    /* search__switcher.svg properties */

    fill: none;
    stroke: rgba(255, 255, 255, 0.65);
    stroke-width: 2;
}

.search__open
{
    right: 0;
}

.search__open:hover
{
    stroke: #fff;
}

.search__close
{
    right: -80px;
}

.search_opened
{
    position: static;
    z-index: 1;

    overflow: visible;
}

.search_opened .search__open
{
    right: 80px;

    transition: all 0.3s;

    background: #fc0;

    stroke: #000;
}

.search_opened .search__close
{
    right: 0;

    background: none;

    stroke: rgba(255, 255, 255, 0.65);
}

.search_opened .search__close:hover
{
    stroke: #fff;
}

.search__form
{
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 81px;

    display: none;

    width: calc(100% - 241px);

    background: #444;
}

.search_opened .search__form
{
    display: block;
}

.search__form .input
{
    font-size: 17px;

    display: inline-block;

    width: calc(100% - 50px);
    margin: 18px 0 0 29px;

    letter-spacing: 1px;
}

.search__form .input__control
{
    font: inherit;

    width: 100%;
    padding: 0;

    color: rgba(255, 255, 255, 0.6);
    border: 0;
    outline: 0;
    background: none;

    -webkit-appearance: none;
}

.search__form .input__control::-webkit-input-placeholder
{
    opacity: 1;
    color: rgba(255, 255, 255, 0.6);
}

.search__form .input__control::-webkit-search-cancel-button
{
    display: none;
}

.search__form .input__control::-moz-placeholder
{
    opacity: 1;
    color: rgba(255, 255, 255, 0.6);
}

.search__form .input__control:-ms-input-placeholder
{
    opacity: 1;
    color: rgba(255, 255, 255, 0.6);
}

.search__submit
{
    position: absolute;
    top: 0;
    right: -80px;

    width: 80px;
    height: 70px;

    cursor: pointer;

    border: 0;
    outline: 0;
    background: none;
}
