.promo-header__title
{
	font-size: 133px;
	font-weight: bold;

	display: block;

	width: 284px;
	height: 104px;

	margin: 24px 0 26px 24px;
	padding: 0;

	text-indent: -9999px;

	background: no-repeat 0 0 / 100% 100%;
}

.promo-header__title_color_black
{
	background-image: url(promo-header__title_color_black.svg);
}

.promo-header__title_color_white
{
	background-image: url(promo-header__title_color_white.svg);
}
