.promo-companies
{
    margin: 70px 0 0;

    text-align: center;
}

.promo-companies__company
{
    display: inline-block;

    margin: 0 8% 50px;

    text-align: center;
}

.promo-companies__logo
{
    width: 200px;
}

/*mobile*/
@media all and (max-width: 480px)
{
    .promo-companies
    {
        margin: 30px 0 -100px;
    }

    .promo-companies__logo
    {
        width: 100px;
    }
}
