.search
{
    position: relative;

    display: inline-block;

    margin-left: 16px;
    padding: 28px 32px 25px 32px;

    cursor: pointer;

    vertical-align: top;
}

.search__icon
{
    width: 17px;
    height: 17px;
    background: url(search.png) no-repeat 0 0 / 100% 100%;
}

.search_opened .search__switcher
{
    display: none;
}

.search__form
{
    position: absolute;
    top: 0;
    right: -10px;

    display: none;

    width: 270px;
}

.search_opened .search__form
{
    display: block;
}

.search__input
{
    width: 228px;
}
