.article-tags
{
    padding: 0;
}

@media print
{
    .article-tags
    {
        display: none;
    }
}

.article-tags__tag
{
    display: inline-block;

    margin: 0 10px 15px 0;
}

.article-tags__link
{
    font-size: 15px;

    display: inline-block;

    padding: 0 10px;

    transition: all 0.3s;
    text-decoration: none;

    color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.2);
}
