.article-amendments
{
    font-size: 14px;
    line-height: 1.2;

    display: none;

    padding: 10px;

    color: rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.2);
}

.article-amendments__link
{
    text-decoration: underline;

    color: rgba(255, 255, 255, 0.8);
}

@media print
{
    .article-amendments
    {
        display: none;
    }
}
