.lang-switcher
{
    font-size: 14px;

    letter-spacing: 0.2em;

    color: #fff;
}

/*tablet*/

/*
@media all and (max-width: 780px)
{
    .lang-switcher
    {
        font-size: 19px;

        position: absolute;
        z-index: 1;
        top: 0;
        right: 120px;

        margin: 7px -72px 0 5px;
    }

    .lang-switcher__item,
    .lang-switcher__item:last-child
    {
        margin-right: 12px;
    }

    .lang-switcher__link
    {
        color: #fff;
    }

    .lang-switcher__item_current
    {
        display: none;
    }
}
*/
