.lang-switcher
{
    letter-spacing: 0.2em;

    color: #fff;
}

.lang-switcher__link
{
    text-decoration: none;

    color: rgba(255, 255, 255, 0.65);
}

.lang-switcher__link:hover
{
    color: #fff;
}

.lang-switcher__separator
{
    display: inline-block;

    width: 1em;

    color: rgba(255, 255, 255, 0.65);
}

.lang-switcher__separator::before
{
    position: relative;
    left: 0.25em;

    content: '/';
}
