.quiz {
    position: relative;

    display: none;

    width: 100%;

    border: 1px solid rgba(27, 31, 35, .075);
    border-radius: 3px !important;
    background: url(quiz.svg);
}

.quiz__inner {
    width: 520px;
    margin: 0 auto;

    text-align: center;
}

.quiz__table {
    display: table-cell;

    height: 192px;

    vertical-align: middle;
}

.quiz_visible {
    display: block;
}

.quiz__accept.quiz__accept {
    margin-right: 12px;
}

.quiz__title {
    line-height: 1.4;

    margin: 0 0 20px;
}
