.promo-problems
{
    padding: 0 0 140px;

    text-align: center;
}

.promo-problems__img
{
    width: 800px;
    height: 400px;
}

/*tablet lg*/
@media all and (min-width: 1200px)
{
}

/*tablet md*/
@media all and (max-width: 1200px)
{
}

/*tablet*/
@media all and (max-width: 780px)
{
    .promo-problems__img
    {
        width: 100%;
        height: auto;
    }
    .promo-problems
    {
        padding: 0 0 55px;
    }
}

/*mobile*/
@media all and (max-width: 480px)
{
}
