.aside
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aside__group
{
    display: flex;
    flex-wrap: wrap;
}

.aside__tags,
.aside__rating,
.aside__social,
.aside__amendments
{
    margin: 0 16px 8px 0;
}

.aside__rating
{
    min-height: auto;
    margin-top: -3px;
    margin-right: 32px;

    white-space: nowrap;
}

.aside__rating .doc-rating__total
{
    display: inline-block;
}

.aside__rating .doc-rating__total::after
{
    content: ',\00a0'; /* &nbsp; */
}

.aside__rating .doc-rating__stars
{
    display: inline-block;

    margin: 0 10px 0 0;

    vertical-align: top;
}

.aside__rating .doc-rating__value
{
    display: inline-block;
}

.aside__social
{
    margin: 42px 0 0;
}

.aside__tags .article-tags__tag
{
    margin-bottom: 8px;
}

.aside__tags .article-tags__link
{
    color: #000;
    border-color: #000;
}

.aside__social
{
    margin: 0 26px 0 0;

    white-space: nowrap;
}

.aside__social .social-likes__service
{
    margin-right: 3px;
}

.aside__amendments
{
    margin: 0;
}

@media (max-width: 1200px)
{
    .aside__amendments[class]
    {
        color: #000;
        background: #eee;
    }
}

.aside__amendments .article-amendments__link
{
    color: inherit;
}

@media (max-width: 1024px)
{
    .aside
    {
        flex-wrap: wrap;
    }

    .aside__group
    {
        width: 100%;
    }

    .aside__amendments
    {
        width: 100%;
        margin: 8px 0 0 -10px;
    }
}

@media (max-width: 800px)
{
    .aside__group
    {
        flex-wrap: wrap;
    }

    .aside__tags,
    .aside__rating
    {
        flex-grow: 0;
    }

    .aside__amendments[class]
    {
        position: relative;
        left: 15px;

        margin: 15px 0 0 -30px;
        padding: 20px 15px;
    }
}

@media (min-width: 1201px)
{
    @supports (display: grid)
    {
        .aside,
        .aside__group
        {
            display: block;
        }

        .aside__tags
        {
            margin: 2px 0 25px;
        }

        .aside__tags .article-tags__link
        {
            color: #fff;
            border-color: #fff;
        }

        .aside__rating
        {
            margin: 24px 0;

            color: #fff;
        }

        .aside__amendments
        {
            width: auto;
            width: fit-content;
            margin: 35px 0 0 -10px;
        }
    }
}
